<h2>Message <span class="highlighted"><%=h @message.id %></span></h2>

<% unless @message.message.blank? %>
  <p class="messages-show-message"><%=h @message.message %></p>
<% end %>

<h4>From: <span class="highlighted"><%= @message.host %></span></h4>
<h4>Received: <span class="highlighted"><%= gl_date(Time.at(@message.created_at)) %></span></h4>

<% unless @message.timestamp.blank? or @message.timestamp == 0 %>
  <h4>Local time: <span class="highlighted"><%= gl_date(Time.at(@message.timestamp)) %></span></h4>
<% end %>

<h4>Severity: <span class="highlighted"><%= syslog_level_to_human(@message.level) %></span></h4>
<h4>Facility: <span class="highlighted"><%= @message.facility %></span></h4>

<% unless @message.file.blank?  %>
  <h4>File: <span class="highlighted"><%=h @message.file %><%= @message.line.blank? or @message.line == -1 ? nil : ":#{h(@message.line)}" %></span></h4>
<% end %>

<% if @message.has_additional_fields %>
  <% @message.additional_fields.each do |field| %>
    <h4><%=h field[:key] %>: <span class="highlighted"><%=h field[:value] %></span></h4>
  <% end %>
<% end %>

<% unless @message.full_message.blank? %>
  <% escaped_fullmsg = h(@message.full_message) %>
  <h3>Full message:</h3>
  <p class="messages-show-message messages-full-message">
    <%= auto_link(escaped_fullmsg.gsub(/\n/, '<br />'), :html => { :target => "blank" }, :link => :urls) %>
  </p>
<% end %>

<% unless @message.streams.blank? %>
  <h3>Filed in following streams:</h3>
  <ul id="message-referenced-streams">
  <% @message.referenced_streams.each do |stream| %>
    <% next if !stream.accessable_for_user?(current_user) %>
    <li><%= link_to stream.title, stream_path(stream) %></li>
  <% end %>
  </ul>
<% end %>

<% if Configuration.allow_deleting %>
  <br />
  <%= awesome_link "Delete message", message_path(@message), :confirm => "Really delete this message?", :method => :delete %>
  <br />
<% end %>

<% unless @comments.blank? %>
  <h3>Comments</h3>
  <ul id="messagecomments">
  <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.title, messagecomment_path(comment) %>: <i><%= comment.comment %></i>
      (<%=raw user_link(comment.user) %> / <%= gl_date(comment.created_at) %>)
    </li>
  <% end %>
  </ul>
<% end %>

<br />
<%= awesome_link "Show messages of this host around", around_message_path(@message, :nb => 50 )%>

<% if params[:partial] %>
  <%= link_to "Permalink", { :controller => "messages", :action => "show", :id => @message.id }, :id => "messages-show-permalink" %>
  <br style="clear: both;" />
<% end %>
