<div id="messages-quickfilter" <%= params[:filters].blank? ? raw("style='display: none;'") : nil %>>
  <%= form_tag((@stream ? stream_messages_path(@stream) : messages_path), :method => "GET") do -%>
  <dl id="messages-quickfilter-fields">
    <dt><%= label_tag "filters[:message]", "Message:" %></dt>
    <dd><%= text_field_tag "filters[message]", params[:filters].blank? ? nil : params[:filters][:message] %> <%=raw tooltip("message-search-syntax") %></dd>

    <dt><%= label_tag "filters[:full_message]", "Full Message:" %></dt>
    <dd><%= text_field_tag "filters[full_message]", params[:filters].blank? ? nil : params[:filters][:full_message] %> <%=raw tooltip("message-search-syntax") %></dd>

    <dt><%= label_tag "filters[date]", "Timeframe:" %></dt>
    <dd><%= text_field_tag "filters[date]", params[:filters].blank? ? "from 30 minutes ago" : params[:filters][:date] %> <%=raw tooltip("timeframe-filters") %></dd>

    <dt><%= label_tag "filters[facility]", "Facility:" %></dt>
    <dd><%= text_field_tag "filters[facility]", params[:filters].blank? ? nil : params[:filters][:facility] %></dd>

    <dt><%= label_tag "filters[file]", "File:" %></dt>
    <dd><%= text_field_tag "filters[file]", params[:filters].blank? ? nil : params[:filters][:file] %></dd>

    <dt><%= label_tag "filters[line]", "Line number:" %></dt>
    <dd><%= text_field_tag "filters[line]", params[:filters].blank? ? nil : params[:filters][:line] %></dd>

    <dt><%= label_tag "filters[severity]", "Level:" %></dt>
    <dd>
      <%= select_tag "filters[severity]", raw("<option></option>" + options_for_select(get_ordered_severities_for_select, :selected => get_quickfilter_selected(params[:filters], :severity))) %>
      <%= check_box_tag "filters[severity_above]", true, get_quickfilter_selected(params[:filters], :severity_above), :style => "width: 15px;" || false %>
      <label for="filters_severity_above">or higher</label>
    </dd>

    <% if @host.blank? %>
    <dt><%= label_tag "filters[host]", "Host:" %></dt>
    <dd>
      <%= select_tag "filters[host]", raw("<option></option>" + options_for_select(Host.all_hostnames, :selected => get_quickfilter_selected(params[:filters], :host, :bson_id))) %>
    </dd>
    <% end %>

    <% unless @additional_filters.blank? %>
      <% @additional_filters.each do |k,v| %>
        <dt><%= text_field_tag "filters[additional][keys][]", (k.to_s.at(0) == '_' ? k.to_s[1..k.to_s.length] : k.to_s), :class => "messages-quickfilter-additional-key" %></dt>
        <dd><%= text_field_tag "filters[additional][values][]", v, :class => "messages-quickfilter-additional-value" %></dd>
      <% end %>
    <% end %>

  </dl>

  <br />

  <% if !@stream.blank? %>
    <%= hidden_field_tag "stream_id", @stream.id %>
  <% end %>
  <% if !@host.blank? %>
    <%= hidden_field_tag "host_id", @host.host %>
  <% end %>

  <%= awesome_link "Add additional field", "#", :id => "messages-quickfilter-add-additional" %>
  <%= awesome_submit_link "Run filter" %>
<% end -%>

<script type="text/javascript">
  function reloadAutoCompleteAdditionalFields() {
    var data = "<%= MessageGateway.all_additional_fields.join ',' %> ".split(",");
    $(".messages-quickfilter-additional-key").autocomplete(data);
  }
</script>

<% unless @quickfilter_result_count.blank? %>
  <br />Quickfilter hit <span class="highlighted"><%= number_with_delimiter(@quickfilter_result_count, :delimiter => '.')  %></span> messages.
<% end %>

</div>

<% unless params[:filters].blank? %>
  <%= render :partial => "result_graph" %>
  <br />

  <%= form_tag "/messages", :method => :get do %>

    <% params[:filters].each do |k,v| %>
      <%= hidden_field_tag "filters[#{k}]", v %>
    <% end %>

    <% if !@stream.blank? %>
      <%= hidden_field_tag "stream_id", @stream.id %>
    <% end %>
    <% if !@host.blank? %>
      <%= hidden_field_tag "host_id", @host.host %>
    <% end %>

    <%= text_field_tag :distribution_field, (params[:distribution_field].blank? ? "host" : params[:distribution_field]), :id => "distribution_field" %>

    <%= awesome_submit_link "Show distribution of field" %>
  <% end %>

  <script type="text/javascript">
    var distribution_fields = "<%= MessageGateway.all_fields.join ',' %> ".split(",");
    $("#distribution_field").autocomplete(distribution_fields);
  </script>
<% end %>
