<div id="messages-quickfilter" style="display: none;">
<%= form_tag(params, :method => :get) do -%>
  <dl id="messages-quickfilter-fields">
    <dt><%= label_tag "filters[:message]", "Message (regex):" %></dt>
    <dd><%= text_field_tag "filters[message]", params[:filters].blank? ? nil : params[:filters][:message] %></dd>

    <dt><%= label_tag "filters[date]", "Timeframe:" %></dt>
    <dd><%= text_field_tag "filters[date]", params[:filters].blank? ? nil : params[:filters][:date] %> <%=raw tooltip("Timeframe-Filters") %></dd>

    <dt><%= label_tag "filters[facility]", "Facility:" %></dt>
    <dd><%= text_field_tag "filters[facility]", params[:filters].blank? ? nil : params[:filters][:facility] %></dd>

    <dt><%= label_tag "filters[severity]", "Severity:" %></dt>
    <dd>
      <%= select_tag "filters[severity]", raw("<option></option>" + options_for_select(get_ordered_severities_for_select, :selected => get_quickfilter_selected(params[:filters], :severity))) %>
      <%= check_box_tag "filters[severity_above]", true, get_quickfilter_selected(params[:filters], :severity_above), :style => "width: 15px;" || false %>
      <label for="filters_severity_above">or higher</label>
    </dd>

    <dt><%= label_tag "filters[host]", "Host:" %></dt>
    <dd>
      <%= select_tag "filters[host]", raw("<option></option>" + options_for_select(Host.all.collect {|host| [ h(host.host) ]}.sort, :selected => get_quickfilter_selected(params[:filters], :host, true))) %>
    </dd>

    <% unless @additional_filters.blank? %>
      <% @additional_filters.each do |k,v| %>
        <dt><%= text_field_tag "filters[additional][keys][]", (k.to_s.at(0) == '_' ? k.to_s[1..k.to_s.length] : k.to_s), :class => "messages-quickfilter-additional-key" %></dt>
        <dd><%= text_field_tag "filters[additional][values][]", v, :class => "messages-quickfilter-additional-value" %></dd>
      <% end %>
    <% end %>
  </dl>

  <br />
  <%= awesome_link "Add additional field", "#", :id => "messages-quickfilter-add-additional" %>
  <%= awesome_submit_link "Run filter" %>
<% end -%>

</div>
