<h2>Welcome, <span class="highlighted"><%= current_user.display_name %></span>!</h2>
Your current time: <%= gl_date(Time.zone.now) %>

<div id="sidebar-graph" style="height: 100px;"></div>
<div id="graph-rangeselector" class="graph-rangeselector-sidebar" style="display: none;">
  <%= form_tag(showrange_messages_path, :method => :get) do %>
    <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
    <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
    <%= awesome_submit_link "Show messages in range" %>
  <% end %>
</div>
<%=raw flot_graph_loader(
      :inject => "#sidebar-graph",
      :hours => 2
    )
%>

<h3>Favorite streams</h3>
<ul id="favorite-streams">
<% if current_user.favorite_streams.blank? %>
  <li>No favorites.</li>
<% else %>
  <% current_user.favorite_streams.each do |favorite| %>
    <li><%=raw stream_link(favorite) %></li>
  <% end %>
<% end %>
</ul>

<% if current_user.role == "admin" %>

  <br /><br />
  <%= awesome_link "Server health", health_index_path %>

<% end %>
