<h2><%=raw headline %></h2>
Your current time: <%= gl_date(Time.now.to_s) %>

<div id="sidebar-graph" style="height: 100px;"></div>  
<div id="graph-rangeselector" style="display: none;">
  <%= form_tag "/messages/showrange" do %>
    <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
    <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
    <%= submit_tag "Show messages in range" %>
  <% end %>
</div>
<%=raw flot_graph_loader(
      :inject => "#sidebar-graph",
      :host => "all",
      :hours => 2
    )
%>

<h3>Favorite streams</h3>
<ul id="favorite-streams">
<% if @favorites.blank? %>
  <li>No favorites.</li>
<% else %>
  <% @favorites.each do |favorite| %>
    <li>
      <span class="favorite-stream-sparkline">
        <%= sparkline_values(Message.stream_counts_of_last_minutes(favorite.id, 10).map { |c| c[:count] }) %>
      </span>
      <%= link_to favorite.title, { :controller => "streams", :action => "show", :id => favorite.id }, :class => "favorite-streams-title" %>

      <% if favorite.alarm_active and !favorite.alarm_limit.blank? and !favorite.alarm_timespan.blank? %>
        <% stream_count = favorite.message_count_since(favorite.alarm_timespan.minutes.ago.to_i) %>
        <span class="favorite-stream-limits <%= stream_count > favorite.alarm_limit ? "status-alarm-text" : "status-okay-text" %>">
          (<%= stream_count %>/<%= favorite.alarm_limit %>/<%= favorite.alarm_timespan %>m)
        </span>
      <% end %>
    </li>
  <% end %>
<% end %>
</ul>

<h3>Message collection</h3>
<ul id="message-collection-stats">
  <li>
    Capped:
    <% if MessageCollection.is_capped? %>
      <span class="status-okay-text">OK</span>
    <% else %>
      <strong><span class="status-alarm-text">NO</span></strong>
    <% end %>
  </li>

  <li>Size: <%= number_to_human_size(MessageCollection.size) %></li>
  <li>Capped to: <%= number_to_human_size(MessageCollection.storage_size) %></li>
  <li>Objects: <%= MessageCollection.count %></li>
  <li>Average object size: <%= number_to_human_size(MessageCollection.average_object_size) %></li>
</ul>

<h3>Jobs & Tasks</h3>
<ul id="jobsandtasks">
  <li>
    Stream subscriptions:
    <% if SubscribedStream.job_active? %>
      <span class="status-okay-text">running</span>
    <% else %>
      <span class="status-alarm-text">not running</span>
    <% end %>
  </li>
  
  <li>
    Stream alerts:
    <% if AlertedStream.job_active? %>
      <span class="status-okay-text">running</span>
    <% else %>
      <span class="status-alarm-text">not running</span>
    <% end %>
  </li>
</ul>
