<h2>Welcome, <span class="highlighted"><%= current_user.display_name %></span>!</h2>
Your current time: <%= gl_date(Time.zone.now) %>

<div id="sidebar-graph" style="height: 100px;"></div>
<div id="graph-rangeselector" class="graph-rangeselector-sidebar" style="display: none;">
  <%= form_tag showrange_messages_path do %>
    <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
    <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
    <%= awesome_submit_link "Show messages in range" %>
  <% end %>
</div>
<%=raw flot_graph_loader(
      :inject => "#sidebar-graph",
      :host => "all",
      :hours => 2
    )
%>

<h3>Favorite streams</h3>
<ul id="favorite-streams">
<% if current_user.favorite_streams.blank? %>
  <li>No favorites.</li>
<% else %>
  <% current_user.favorite_streams.each do |favorite| %>
    <li><%=raw stream_link(favorite) %></li>
  <% end %>
<% end %>
</ul>

<h3>Message collection</h3>
<ul id="message-collection-stats">
  <li>
    Capped:
    <% if MessageCollection.is_capped? %>
      <span class="status-okay-text">OK</span>
    <% else %>
      <strong><span class="status-alarm-text">NO</span></strong>
    <% end %>
  </li>

  <li>Size: <%= number_to_human_size(MessageCollection.size) %></li>
  <li>Capped to: <%= number_to_human_size(MessageCollection.storage_size) %></li>
  <li>Objects: <%= MessageCollection.count %></li>
  <li>Average object size: <%= number_to_human_size(MessageCollection.average_object_size) %></li>
  <li>Oldest entry: <%= time_ago_in_words(Time.at(Message.first.created_at)) %></li>
</ul>

<h3>Jobs & Tasks <%= tooltip("Notifications") %></h3>
<ul id="jobsandtasks">
  <li>
    Stream subscriptions:
    <% job = Job["streamsubscription_check"] %>
    <% if job and job.active? %>
      <span class="status-okay-text">running</span>
    <% else %>
      <span class="status-alarm-text">not running</span>
    <% end %>
  </li>

  <li>
    Stream alerts:
    <% if AlertedStream.job_active? %>
      <span class="status-okay-text">running</span>
    <% else %>
      <span class="status-alarm-text">not running</span>
    <% end %>
  </li>
</ul>

<% if current_user.role == "admin" %>
<br />

<%= awesome_link "Open dashboard", dashboard_index_path, :style => "display: inline;", :target => "_blank" %>

<% if Configuration.livetail_enabled %>
  <%= awesome_link "Go to live tail", :controller => "livetail" %>
<% end %>

<br /><br />
<%= awesome_link "Server health", health_index_path %>

<% end %>
