<% message_length = Setting.get_message_length(current_user) %>

<table class="messages<%= defined?(@inline_version) ? " messages-inline" : nil %>">
  <thead>
    <tr>
      <th class="messages-c-date">Date</th>
      <th class="messages-c-host">Host</th>
      <th class="messages-c-severity">Severity</th>
      <th class="messages-c-facility">Facility</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% unless @messages.blank? %>
      <% @messages.each do |message|  %>
        <tr class="<%= i.modulo(2) == 1 ? "tr-light" : "tr-dark" %>">
          <td><%= gl_date(Time.at(message.created_at).to_s) %></td>
          <td><%= message.host.blank? ? nil : h(message.host) %></td>
          <td><%= syslog_level_to_human(message.level) %></td>
          <td><%= syslog_facility_to_human(message.facility) %></td>
          <td id="message-<%=h message.id %>">
            <% unless message.message.blank? %>
              <%=h message.message[0..message_length] %>
              <%= (message.message.length > message_length) && !defined?(dont_show_links) ? "<a href=\"#\" class=\"messages-more\" id=\"#{h(message.id)}\">[more]</a>" : nil %>
            <% end %>
            <%= !message.gelf.blank? && message.gelf == true && !defined?(dont_show_links) ? "<a href=\"/messages/show/#{h(message.id)}\" class=\"messages-full\">[full]</a>" : nil %>
          </td>
        </tr>
        <% i+=1 %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%
  params[:page].blank? ? current_page = 1 : current_page = params[:page].to_i;
  next_page = current_page+1;
  current_page <= 1 ? previous_page = 1 : previous_page = current_page-1;
%>

<% unless defined? @inline_version %>
<div id="messages-bottom">
  <% unless current_page <= 1 %>
    <a href="<%=h build_controller_action_uri 'page' %><%= previous_page %>" class="previous-page">previous page</a>
  <% end %>

  <% if total_messages > (Message::LIMIT*current_page) %>
    <a href="<%=h build_controller_action_uri 'page' %><%= next_page  %>" class="next-page">next page</a>
  <% end %>
</div>

<br style="clear: both;" />
<% end %>
