<%
message_length = Setting.get_message_length(current_user)
additional_columns ||= []
%>

<script type="text/javascript">
  // Inline to avoid re-binding problems when loaded via AJAX. lolzomg JS fuckery

  $(document).ready(function(){
    // Highlight messages from today.
    $(".messages-from-today-link").bind("click", function() {
      if ($(this).hasClass("active")) {
        $("tr").removeClass("messages-today");
        $(this).removeClass("active");
        $(this).attr("src", "/assets/icons/sun.png");
      } else {
        d = new Date();
        $(".udate-" + d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate()).addClass("messages-today");
        $(this).attr("src", "/assets/icons/sun_active.png");
        $(this).addClass("active");
      }
    })
  });
</script>

<table class="messages<%= defined?(@inline_version) ? " messages-inline" : nil %>">
  <thead>
    <tr>
      <th class="messages-c-date">Date</th>
      <th class="messages-c-host">Host</th>
      <th class="messages-c-severity">Level</th>
      <th class="messages-c-facility">Facility</th>
      <% additional_columns.each do |col| %>
      <th><%= col %></th>
      <% end %>
      <th>Message</th>
      <th class="messages-c-tools">
        <% unless defined?(@inline_version) %>
          <%= image_tag "icons/sun.png", :class => "messages-from-today-link", :title => "Highlight messages from today" %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @messages.each do |message|  %>
      <tr id="<%= message.id %>"
          class="<%= i.modulo(2) == 1 ? "tr-light" : "tr-dark" %> message-row udate-<%= message.uniform_date_string %> <%= "highlighted" if message.id.to_s == params[:message_id] %>">
        <td><%= time_to_formatted_s(message.created_at) %></td>
        <td style="white-space: nowrap;"><%= message.host.blank? ? nil : h(message.host) %></td>
        <td><%= syslog_level_to_human(message.level) %></td>
        <td><%= message.facility %></td>
        <% additional_columns.each do |col| %>
          <td><%= message.additional_fields[col].blank? ? "-" : message.additional_fields[col] %></td>
        <% end %>
        <td colspan="2">
          <%= message.message[0..message_length] %>
          <%=raw (message.message.length > message_length) && !defined?(dont_show_links) ? "<span class='light'>...</span>" : nil %>
        </td>
      </tr>
      <% i+=1 %>
    <% end %>
  </tbody>
</table>

<% unless defined? inline_version %>
<div id="messages-bottom">
  <% append_params = Array.new if !defined?(append_params) or append_params.blank? %>
  <% unless current_page <= 1 %>
    <%= link_to "previous page", params.merge(:page => previous_page), :class => "previous-page" %>
  <% end %>

  <% if total_messages > (Message::LIMIT*current_page) %>
    <%= link_to "next page", params.merge(:page => next_page), :class => "next-page" %>
  <% end %>
</div>

<br style="clear: both;" />
<% end %>
