<% content_for :sidebar do %>
  <%= render :partial => "sidebar_index", :locals => { :headline => "Welcome, <span class=\"highlighted\">#{current_user.login}</span>!" } %>
<% end %>

<%= javascript_include_tag 'messageupdater' %>

<div id="messages-show-quickfilter" <%= params[:filters].blank? ? nil : "class=\"messages-show-quickfilter-expanded\""  %>>
  Quickfilter
</div>

<div id="messages-content">

<h1>Messages</h1>

Currently containing <span class="highlighted"><%= number_with_delimiter(@total_count, :delimiter => '.') %></span> messages,
filtered by <span class="highlighted"><%=h @total_blacklisted_terms %></span> blacklisted terms.

<% message_count_interval = Setting.get_message_count_interval(current_user) %>
<span class="highlighted"><%=h Message.count_of_last_minutes(Setting.get_message_count_interval(message_count_interval)) %></span>
messages in the last <%=h message_count_interval %> minutes.

<%= render :partial => "quickfilter" %>

<% unless params[:filters].blank? %>
<div id="messages-quickfilter-delete">
  <%= form_tag('/messages/deletebyquickfilter') do -%>
    <%= hidden_field_tag 'filters', params[:filters].to_json %>
    <%= awesome_submit_link "Delete all messages hit by this quickfilter" %>
  <% end -%>
</div>
<% end %>

<br style="clear: both;" />

<%= render :partial => "messages/table", :locals => { :messages => @messages, :total_messages => @total_count } %>
</div>
