<% content_for :sidebar do %>
  <%= render :partial => partial_for(:sidebar, @scoping, params[:action]) %>
<% end %>

<%= render :partial => partial_for(:quickfilter_button) %>

<div id="messages-content">
  <%= render :partial => partial_for(:message_table_header, @scoping)%>

  <%= render :partial => "quickfilter"%>

  <br />
  <% if params[:distribution_field].blank? %>
    <%= render :partial => "messages/table", :locals => { :messages => @messages,
                                                          :total_messages => (@quickfilter_result_count.blank? ? @total_count : @quickfilter_result_count), 
                                                          :additional_columns => @stream ? @stream.additional_columns : Setting.get_additional_columns(current_user) } %>
  <% else %>
    <%= render :partial => "messages/result_distribution", :locals => { :distribution_result => @messages } %>
  <% end %>
</div>

<% if current_user.admin? and SystemSetting.show_first_login_modal? %>
	<%= render :partial => "firstlogin" %>
<% end %>

<% if !params[:filters].blank? %>
	<span class="messages-used-indices">
	I searched in the following indices: <%= @messages.used_indices.to_sentence %>
	</span>
<% end %>