<% content_for :sidebar do %>
  <%= render :partial => partial_for(:sidebar, @scoping, params[:action]) %>
<% end %>

<% if @stream %>
  <%= javascript_tag "var stream_id = '#{@stream.id}';" %>
<% end %>
<%= javascript_include_tag 'messageupdater' %>

<%= render :partial => partial_for(:quickfilter_button) %>

<div id="messages-content">
  <%= render :partial => partial_for(:message_table_header, @scoping)%>

  <%= render :partial => "quickfilter"%>

  <% unless params[:filters].blank? or !Configuration.allow_deleting %>
  <div id="messages-quickfilter-delete">
    <%= form_tag('/messages/deletebyquickfilter') do -%>
      <%= hidden_field_tag 'filters', params[:filters].to_json %>
      <%= awesome_submit_link "Delete all messages hit by this quickfilter" %>
    <% end -%>
  </div>
  <% end %>

  <br style="clear: both;" />

  <%= render :partial => "messages/table", :locals => { :messages => @messages, :total_messages => @total_count } %>
</div>
