<%= javascript_include_tag 'messageupdater' %>

<div id="messages-show-quickfilter" <%= params[:filters].blank? ? nil : "class=\"messages-show-quickfilter-expanded\""  %>>
  Quickfilter
</div>

<div id="messages-content">

<div id="messages-favorited-streams">
  <% unless @favorites.blank? %>
    Favorite streams: <%= select("favoritestreamchooser", "id", @favorites.collect {|p| [ p.stream.title, p.stream.id ] }, { :include_blank => true }) %>
  <% end %>
</div>

<h1>Messages</h1>

Currently containing <span class="highlighted"><%= number_with_delimiter(@total_count, :delimiter => '.') %></span> messages,
filtered by <span class="highlighted"><%=h @total_blacklisted_terms %></span> blacklisted terms.

<% message_count_interval = Setting.get_message_count_interval(current_user) %>
<span class="highlighted"><%=h Message.count_of_last_minutes(Setting.get_message_count_interval(message_count_interval)) %></span>
messages in the last <%=h message_count_interval %> minutes.

<% form_tag('/', :method => :get) do -%>
  <table id="messages-quickfilter" style="display: <%= params[:filters].blank? ? 'none' : 'block' %>">
    <thead>
      <tr>
        <th>Message</th>
        <th>Facility</th>
        <th>Severity</th>
        <th>Host</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="messages-quickfilter-c-message"><%= text_field_tag "filters[message]", params[:filters].blank? ? nil : params[:filters][:message] %></td>
        <td><%= select_tag "filters[facility]", "<option></option>" + options_for_select(get_ordered_facilities_for_select, :selected => get_quickfilter_selected(params[:filters], :facility)) %></td>
        <td><%= select_tag "filters[severity]", "<option></option>" + options_for_select(get_ordered_severities_for_select, :selected => get_quickfilter_selected(params[:filters], :severity)) %></td>
        <td><%= select_tag "filters[host]", "<option></option>" + options_for_select(Host.all.collect {|host| [ h(host.host) ] }, :selected => get_quickfilter_selected(params[:filters], :host, true)) %></td>
        <td><%= submit_tag "Quickfilter!" %></td>
      </tr>
    </tbody>
  </table>
<% end -%>

<% unless params[:filters].blank? %>
<div id="messages-quickfilter-delete">
  <% form_tag('/messages/deletebyquickfilter') do -%>
    <%= hidden_field_tag 'filters', params[:filters].to_json %>
    <%= submit_tag "Delete all messages hit by this quickfilter", :confirm => "Really delete all messages hit by this quickfilter?" %>
  <% end -%>
</div>
<% end %>

<br style="clear: both;" />

<%= render :partial => "messages/table", :locals => { :messages => @messages, :inline_version => true, :total_messages => @total_count } %>
</div>
