<% content_for :sidebar do %>
  <%= render :partial => "sidebar_index", :locals => { :headline => "Welcome, <span class=\"highlighted\">#{current_user.login}</span>!" } %>
<% end %>

<%= javascript_include_tag 'messageupdater' %>

<div id="messages-show-quickfilter" <%= params[:filters].blank? ? nil : "class=\"messages-show-quickfilter-expanded\""  %>>
  Quickfilter
</div>

<div id="messages-content">

<h1>Messages</h1>

Currently containing <span class="highlighted"><%= number_with_delimiter(@total_count, :delimiter => '.') %></span> messages,
filtered by <span class="highlighted"><%=h @total_blacklisted_terms %></span> blacklisted terms.

<% message_count_interval = Setting.get_message_count_interval(current_user) %>
<span class="highlighted"><%=h Message.count_of_last_minutes(Setting.get_message_count_interval(message_count_interval)) %></span>
messages in the last <%=h message_count_interval %> minutes.

<div id="messages-quickfilter" style="display: none;">
<%= form_tag('/', :method => :get) do -%>
  <dl id="messages-quickfilter-fields">
    <dt><%= label_tag "filters[:message]", "Message (regex):" %></dt>
    <dd><%= text_field_tag "filters[message]", params[:filters].blank? ? nil : params[:filters][:message] %></dd>

    <dt><%= label_tag "filters[date]", "Timeframe:" %></dt>
    <dd><%= text_field_tag "filters[date]", params[:filters].blank? ? nil : params[:filters][:date] %> <%=raw tooltip("Timeframe-Filters") %></dd>
   
    <dt><%= label_tag "filters[facility]", "Facility:" %></dt>
    <dd><%= select_tag "filters[facility]", raw("<option></option>" + options_for_select(get_ordered_facilities_for_select, :selected => get_quickfilter_selected(params[:filters], :facility))) %></dd>
    
    <dt><%= label_tag "filters[severity]", "Severity:" %></dt>
    <dd><%= select_tag "filters[severity]", raw("<option></option>" + options_for_select(get_ordered_severities_for_select, :selected => get_quickfilter_selected(params[:filters], :severity))) %></dd>
    
    <dt><%= label_tag "filters[host]", "Host:" %></dt>
    <dd>
      <%= select_tag "filters[host]", raw("<option></option>" + options_for_select(Host.all.collect {|host| [ h(host.host) ]}.sort, :selected => get_quickfilter_selected(params[:filters], :host, true))) %>
 
    </dd>
  </dl>

  <%= awesome_submit_link "Filter" %>
<% end -%>
</div>

<% unless params[:filters].blank? %>
<div id="messages-quickfilter-delete">
  <%= form_tag('/messages/deletebyquickfilter') do -%>
    <%= hidden_field_tag 'filters', params[:filters].to_json %>
    <%= awesome_submit_link "Delete all messages hit by this quickfilter" %>
  <% end -%>
</div>
<% end %>

<br style="clear: both;" />

<%= render :partial => "messages/table", :locals => { :messages => @messages, :inline_version => true, :total_messages => @total_count } %>
</div>
