<div id="message-id" style="display: none;"><%=h @message.id %></div>

<div id="messages-show">
  <h1>Message <span class="highlighted"><%=h @message.id %></span> from <span class="highlighted"><%= @message.host %></span></h1>

  <dl>
    <dt>Received:</dt>
    <dd><%= gl_date gl_date(Time.at(@message.created_at).to_s) %></dd>

    <% unless @message.level.blank?  %>
      <dt>Severity:</dt>
      <dd><%= syslog_level_to_human(@message.level) %></dd>
    <% end %>

    <% unless @message.type.blank? or @message.type == 0 %>
      <dt>Type:</dt>
      <dd><%= @message.type %></dd>
    <% end %>

    <% unless @message.file.blank?  %>
      <dt>File:</dt>
      <dd>
        <%=h @message.file %><%= @message.line.blank? ? nil : ":#{h(@message.line)}" %>
      </dd>
    <% end %>
  </dl>

  <% unless @message.message.blank? %>
    <fieldset class="messages-show-message">
      <legend>Message:</legend>
      <p><%=h @message.message %></p>
    </fieldset>
  <% end %>

  <% if @message.has_additional_fields %>
    <fieldset class="messages-show-message">
      <legend>Additional fields:</legend>
      <p class="messages-show-message-full">
        <% @message.additional_fields.each do |field| %>
          <%=h field[:key] %>: <%=h field[:value] %><br />
        <% end %>
      </p>
    </fieldset>
  <% end %>

  <% unless @message.full_message.blank? %>
    <fieldset class="messages-show-message">
      <legend>Full message:</legend>
      <% escaped_fullmsg = h(@message.full_message) %>
      <p class="messages-show-message-full"><%= escaped_fullmsg.gsub(/\n/, '<br />') %></p>
    </fieldset>
  <% end %>

  <fieldset class="messages-show-message" id="messages-show-similar-messages-fs">
    <legend>Similar messages</legend
    <div id="messages-show-similar-messages">
      <div class="center">
        <a id="messages-show-similar-messages-link" href="#">Click here to load similar messages</a>
        <div class="loading" style="display: none; height: 100px;"></div>
      </div>
    </div>
  </fieldset>

  </div>
