<% content_for :sidebar do %>
  <%= render :partial => "sidebar_index" %>
<% end %>

<h1>Messages from <span class="highlighted"><%= gl_date(@from) %></span> to <span class="highlighted"><%= gl_date(@to) %></span></h1>
A total of <span class="highlighted"><%= @total_count %></span> messages in this time range.

<%= render :partial => "messages/table", :locals => {
  :messages => @messages,
  :total_messages => @total_count,
  :append_params => [{ :key => "from", :value => @from.to_i}, {:key => "to", :value => @to.to_i} ]
} %>

<span class="messages-used-indices">
<% if !@messages.used_indices.blank? %>
	I searched in the following indices: <%= @messages.used_indices.to_sentence %>
<% else %>
	I searched in no indices at all.
<% end %>
</span>