<% content_for :sidebar do %>
  <%= render :partial => "sidebar_index" %>
<% end %>

<h1>
	Search result for <span class="highlighted"><%= params[:query] %></span>
	<% if @stream %>in stream <span class="highlighted"><%= @stream.title %></span><% end %>
	<% if @host %>for host <span class="highlighted"><%= @host.host %></span><% end %>
</h1>

<% unless @messages.total_result_count.blank? %>
  Search hit <span class="highlighted"><%= number_with_delimiter(@messages.total_result_count, :delimiter => '.')  %></span> messages.
<% end %>

<%= render :partial => "result_graph" %>
<br />

<%= render :partial => "messages/table", :locals => { :messages => @messages,
                                                    :total_messages => @messages.total_result_count, 
                                                    :additional_columns => Setting.get_additional_columns(current_user) } %>

<span class="messages-used-indices">
I searched in the following indices: <%= @messages.used_indices.to_sentence %>
</span>