<% content_for :sidebar do %>
  <% if @stream %><%= render :partial => "streams/sidebar_index" %>
  <% elsif @host %><%= render :partial => "hosts/sidebar_index" %>
  <% else %><%= render :partial => "sidebar_index" %><% end %>
<% end %>

<h1>
	Search result for <span class="highlighted"><%= params[:query].blank? ? "[all]" : params[:query] %></span>
	<% if @stream %>in stream <span class="highlighted"><%= @stream.title %></span><% end %>
	<% if @host %>for host <span class="highlighted"><%= @host.host %></span><% end %>
</h1>

<% unless @messages.total_result_count.blank? %>
  Search hit <span class="highlighted"><%= number_with_delimiter(@messages.total_result_count, :delimiter => '.')  %></span> messages.
<% end %>

<%= render :partial => "result_graph" %>
<br />

<%= form_tag "/messages/universalsearch", :method => :get do %>
	<%= hidden_field_tag "timespan", params[:timespan] %>
	<%= hidden_field_tag "query", params[:query] %>

	<% if @stream %>
		<%= hidden_field_tag "stream_id", @stream.id %>
	<% end %>

	<%= text_field_tag :distribution_field, (params[:distribution_field].blank? ? "host" : params[:distribution_field]), :id => "distribution_field" %>

	<%= awesome_submit_link "Show distribution of field" %>
<% end %>

<script type="text/javascript">
	var distribution_fields = "<%= MessageGateway.all_fields.join ',' %>,date ".split(",");
	$("#distribution_field").autocomplete(distribution_fields);
</script>
<br />

<%= render :partial => "messages/table", :locals => { :messages => @messages,
                                                    :total_messages => @messages.total_result_count, 
                                                    :additional_columns => Setting.get_additional_columns(current_user) } %>

<span class="messages-used-indices">
<% if !@messages.used_indices.blank? %>
	I searched in the following indices: <%= @messages.used_indices.to_sentence %>
<% else %>
	I searched in no indices at all.
<% end %>
</span>