<h1>Blacklists</h1>

<div class="description">
  Use blacklists to filter certain strings out of the results in every section of Graylog2. Example: Blacklist the term "foo"
  and no syslog messages that contain "foo" will appear in the overview, streams, statistics, alerts etc. - Click on a
  blacklist to see all messages filtered out.
</div>

<%= form_for @new_blacklist, :url => blacklists_path do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>
  <%= awesome_submit_link "Create blacklist" %>
<% end %>


<% @blacklists.each do |blacklist| %>
  <div class="blocks">
    <span class="blocks-title"><%= link_to h(blacklist.title), blacklist_path(blacklist) %></span>
    <ul class="blocks-termslist">
      <% if blacklist.blacklisted_terms.blank? %>
        <li>Filtering nothing</li>
      <% else %>
        <% blacklist.blacklisted_terms.each do |term| %>
          <li><%= term.term %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<br style="clear: both;" />
