<h1>Blacklists</h1>

<div class="description">
  Use blacklists to filter out certain messages. Example: Blacklist the term <span class="highlighted">.+foo.+</span> and
  all messages containing <span class="highlighted">foo</span> will be dropped by the server.
</div>

<%= form_for @new_blacklist, :url => blacklists_path do |f| %>
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>
  <%= awesome_submit_link "Create blacklist" %>
<% end %>

<br />
<h2>Configured blacklists</h2>
<ul id="blacklists">
<% if @blacklists.blank? %>
  <li><h3>No blacklists configured</h3></li>
<% else %>
<% @blacklists.each do |blacklist| %>
  <li>
    <h3 style="display: inline;"><%= blacklist.title %></h3>
    <%= link_to "Manage terms", blacklist_path(blacklist) %>
    /
    <%= link_to "Delete", blacklist_path(blacklist), :method => :delete, :confirm => "Really delete this blacklist with all it's terms?" %>
    <ul class="blacklist-terms">
      <% blacklist.blacklisted_terms.each do |term| %>
        <li><h4><%= term.term %></h4></li>
      <% end %>
    </ul>
  </li>
<% end %>
<% end %>
</ul>
