<h1>Terms of blacklist <span class="highlighted"><%= @blacklist.title %></span></h1>

<%= form_for @new_term, :url => blacklist_terms_path(@blacklist) do |f| %>
  <%= f.hidden_field :blacklist_id, :value => @blacklist.id %>
  <%= f.label :term, "New term (regex):" %>
  <%= f.text_field :term %>
  <%= awesome_submit_link "Add" %>
<% end %>

<br />
<h2>Configured terms</h2>
<ul id="blacklist-terms">
<% if @blacklist.blacklisted_terms.blank? %>
  <li><h3>No terms configured</h3></li>
<% else %>
<% @blacklist.blacklisted_terms.each do |term| %>
  <li>
    <h3 style="display: inline;"><%= term.term %></h3>
    <%= link_to "Delete", blacklist_term_path(@blacklist, term), :method => :delete, :confirm => "Really delete this term?" %>
  </li>
<% end %>
<% end %>
</ul>

<br />
<h3><%= link_to "Back to blacklist overview", blacklists_path %></h3>
