<% content_for :sidebar do %>
  <%= render :partial => "messages/sidebar_index", :locals => { :headline => "Hello, <span class=\"highlighted\">#{current_user.login}</span>!" } %>
<% end %>

<div id="blacklist-delete">
  <%= link_to "Delete this blacklist", blacklist_path(@blacklist), :method => :delete, :confirm => "Really delete this blacklist with all it's terms?" %>
</div>

<h1>Blacklist <span class="highlighted"><%= @blacklist.title %></span></h1>

<%= form_for @new_term, :url => blacklist_terms_path(@blacklist) do |f| %>
  <%= f.hidden_field :blacklist_id, :value => @blacklist.id %>
  <%= f.label :term, "New term (regex):" %>
  <%= f.text_field :term %>
  <%= awesome_submit_link "Add" %>
<% end %>

<div id="blocks-terms">
  <h2>Filtering:</h2>
  <ul>
    <% if @blacklist.blacklisted_terms.blank? %>
      <li>nothing</li>
    <% else %>
      <% @blacklist.blacklisted_terms.each do |term| %>
        <li>
          <%=h term.term %>
          <%= link_to image_tag("icons/delete.png", :style => "position: relative; top: -2px"), blacklist_term_path(@blacklist, term), :method => :delete, :class => "blocks-terms-delete" %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <br style="clear: both;" />
</div>

<% unless @blacklist.blacklisted_terms.blank? %>
  <%= render :partial => "messages/table", :locals => { :messages => @messages, :total_messages => @total_count } %>
<% end %>
