<h1>Analytics</h1>

<h2>Spread of message</h2>
<div class="short-description">Enter a term or regular expression and see the spread of messages that include the term or match the regular expression over your hosts.</div>
<% form_tag "/analytics/messagespread" do %>
  <%= label_tag :term, "Term:" %>
  <%= text_field_tag :term %>

  <%= check_box_tag :regex %>
  <%= label_tag :regex, "Regular expression" %>

  <%= submit_tag "Analyze" %>
<% end %>
