<%= content_for :sidebar do %>
  <h2>The analytics shell</h2>

  This shell allows you to query all messages in a structured
  and dynamic way. The complete syntax description and examples
  are documented in the
  <%= link_to "Graylog2 wiki", "https://github.com/Graylog2/graylog2-web-interface/wiki/The-Analytics-shell", :target => "_blank" %>.

  <br /><br />
  <strong>Selectors</strong>
  <ul class="analytics-shell-explanation">
    <li>all</li>
    <li>stream([stream_id])</li>
    <li>streams([stream_id], [stream_id], ...)</li>
  </ul>

  <br />
  <strong>Operators</strong>
  <ul class="analytics-shell-explanation">
    <li>find</li>
    <li>count</li>
    <li>distinct</li>
  </ul>

  <br />
  <strong>Conditional operators</strong>
  <ul class="analytics-shell-explanation">
    <li>&lt;</li>
    <li>&gt;</li>
    <li>&lt;=</li>
    <li>&gt;=</li>
    <li>=</li>
    <li>!=</li>
  </ul>
  
  <br />
  <strong>Data types</strong>
  <ul class="analytics-shell-explanation">
    <li>String: "something"</li>
    <li>Regex: /^example\.(org|com)$/</li>
    <li>Integer: 9001</li>
  </ul>

  <br />
  Additional fields must be prefixed with an underscore. Find queries
  are limited to <%= Shell::MAX_LIMIT %> results. Use the quickfiltering
  if you need more and pagination.

  <br><br />
  <strong>Examples:</strong>
  <ul class="analytics-shell-explanation">
    <li>all.find()</li>
    <li>all.count(host = /^example\.(org|com)$/, _http_response_code = 204)</li>
    <li>all.distinct({host}, _http_response_code &gt; 500)</li>
  </ul>
<% end %>

<h1>Analytics</h1>

<h2>Count of new messages (last <span id="analytics-new-messages-hours">12</span> hours.)</h2>
<div id="analytics-new-messages">
  <%= image_tag "loading.gif", :class => "ajaxloader" %>
</div>
<div class="short-description" style="width: 100%;">Count of number of messages from all hosts. Select a range with your mouse and click the button to see all messages in the selected range.</div>

<div id="analytics-new-messages-settings">
  <%= label_tag :hours, "Hours:" %>
  <%= text_field_tag :hours, 12, { :id => "analytics-new-messages-update-hours" } %>

  <%= awesome_submit_link "Update graph", { :id => "analytics-new-messages-update-submit", "data-updateurl" => visuals_path("totalgraph", :hosts => "all"), "data-nowait" => "true" } %>
  <span id="analytics-new-messages-update-loading" style="display: none;">
    <%= image_tag 'loading-small.gif' %> Calculating...
  </span>

  <div id="graph-rangeselector" style="display: none;">
    <%= form_tag showrange_messages_path do %>
      <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
      <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
      <%= awesome_submit_link "Show messages in range" %>
    <% end %>
  </div>
</div>

<%=raw flot_graph_loader(
    :inject => "#analytics-new-messages",
    :hours => 12
  )
%>
