<h1>Analytics</h1>

<h2>Count of new messages (last <span id="analytics-new-messages-hours">12</span> hours.)</h2>
<div id="analytics-new-messages">
  <%= image_tag "loading.gif", :class => "ajaxloader" %>
</div>
<div class="short-description" style="width: 100%;">Count of number of messages from all hosts. Select a range with your mouse and click the button to see all messages in the selected range.</div>

<div id="analytics-new-messages-settings">
  <%= label_tag :hours, "Hours:" %>
  <%= text_field_tag :hours, 12, { :id => "analytics-new-messages-update-hours" } %>

  <%= awesome_submit_link "Update graph", { :id => "analytics-new-messages-update-submit", "data-updateurl" => visuals_path("totalgraph", :hosts => "all"), "data-nowait" => "true" } %>
  <span id="analytics-new-messages-update-loading" style="display: none;">
    <%= image_tag 'loading-small.gif' %> Calculating...
  </span>

  <div id="graph-rangeselector" style="display: none;">
    <%= form_tag showrange_messages_path do %>
      <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
      <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
      <%= awesome_submit_link "Show messages in range" %>
    <% end %>
  </div>
</div>

<%=raw flot_graph_loader(
    :inject => "#analytics-new-messages",
    :hours => 12
  )
%>

<br />
<h2>Spread of message</h2>
<div class="short-description">Enter a term or regular expression and see the spread of messages that include the term or match the regular expression over your hosts.</div>
<%= form_tag messagespread_analytics_path do %>
  <%= label_tag :term, "Term:" %>
  <%= text_field_tag :term %>

  <%= awesome_submit_link "Analyze" %>

  <br />
  <%= check_box_tag :regex, "true" %>
  <%= label_tag :regex, "Regular expression" %>

  <%= check_box_tag :notcase, "true" %>
  <%= label_tag :notcase, "Case insensitive" %>
<% end %>
