<h1>Analytics</h1>

<h2>Count of new messages (last <span id="analytics-new-messages-hours">12</span> hours.)</h2>
<div id="analytics-new-messages"></div>
<div class="short-description" style="width: 100%;">Count of number of messages from all hosts. The red line indicates your configured maximum message warn limit.</div>

<div id="analytics-new-messages-settings">
  <%= label_tag :hours, "Hours:" %>
  <%= text_field_tag :hours, 12, { :id => "analytics-new-messages-update-hours" } %>

  <%= submit_tag "Update graph", :id => "analytics-new-messages-update-submit" %>
  <span id="analytics-new-messages-update-loading" style="display: none;">
    <%= image_tag 'loading-small.gif' %> Calculating...
  </span>
</div>

<%=raw flot_graph_loader(
    :inject => "#analytics-new-messages",
    :host => "all",
    :hours => 12
  )
%>

<br />
<h2>Spread of message</h2>
<div class="short-description">Enter a term or regular expression and see the spread of messages that include the term or match the regular expression over your hosts.</div>
<% form_tag "/analytics/messagespread" do %>
  <%= label_tag :term, "Term:" %>
  <%= text_field_tag :term %>
  
  <%= submit_tag "Analyze" %>

  <br />
  <%= check_box_tag :regex, "true" %>
  <%= label_tag :regex, "Regular expression" %>
  
  <%= check_box_tag :notcase, "true" %>
  <%= label_tag :notcase, "Case insensitive" %>
<% end %>
