<h1>Analytics</h1>

<h2>Spread of message</h2>
<div class="short-description">Enter a term or regular expression and see the spread of messages that include the term or match the regular expression over your hosts.</div>
<% form_tag "/analytics/messagespread" do %>
  <%= label_tag :term, "Term:" %>
  <%= text_field_tag :term %>
  
  <%= submit_tag "Analyze" %>

  <br />
  <%= check_box_tag :regex, "true" %>
  <%= label_tag :regex, "Regular expression" %>
  
  <%= check_box_tag :notcase, "true" %>
  <%= label_tag :notcase, "Case insensitive" %>
<% end %>
