<h1>AMQP Settings</h1>
<div class="description">Configure on which exchanges your <span class="highlighted">graylog2-server</span> instances should listen for which message types. Make sure that you have enabled AMQP in <span class="highlighted">graylog2.conf</span> if you want to use it. The servers will declare temporary queues on those exchanges and handle every message on them. If you have multiple <span class="highlighted">graylog2-server</span> nodes, all of them will connect to the same queues to share the load. You can use wildcards in the routing key and a TTL for messages in the queue if your broker supports it.</div>

The full documentation is available on the <%= support_link("support pages", "graylog2-server/using-the-amqp-input") %>.
Go to the <%= link_to("server activity messages", health_index_path) %> to see AMQP activity.
<br /><br />

<% if @amqp_configurations.blank? %>
	<strong>No AMQP configurations found.</strong>
	<br /><br />
<% else %>
	<% @amqp_configurations.each do |config| %>
		<div class="lines-line">
			<h3><%= config.exchange %>:<%= config.routing_key %></h3>
			<strong>Type:</strong> <%= config.input_type %>,
			<strong>TTL:</strong> <%= config.ttl %><br />
			<strong>Queue name:</strong> <%= config.queue_name %>
			<br />
			<%= link_to("Delete", amqp_setting_path(config), :method => :delete, :confirm => "Really delete?") %>
		</div>
	<% end %>
<% end %>

<h2>Add new AMQP configuration</h2>
<%= form_for(@amqp_configuration, :url => amqp_settings_path) do |f| %>
	<%= f.label :exchange, "Exchange:" %>
	<%= f.text_field :exchange %>

	&nbsp;
	<%= f.label :routing_key, "Routing key:" %>
	<%= f.text_field :routing_key %>

	&nbsp;
	<%= f.label :ttl, "TTL:" %>
	<%= f.text_field :ttl, :value => "900000", :size => 8 %>
	
	&nbsp;
	<%= f.label :input_type, "Type:" %>
	<%= f.select :input_type, [ ["GELF", :gelf ], :syslog ] %>

	&nbsp;
	<%= awesome_submit_link "Add" %>
<% end %>