<h2>Host <span class="highlighted"><%= @host.host %></span></h2>

<div id="sidebar-graph" style="height: 100px;"></div>
<div id="graph-rangeselector" class="graph-rangeselector-sidebar" style="display: none;">
  <%= form_tag(showrange_host_path(@host), :method => :get) do %>
    <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
    <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
    <%= awesome_submit_link "Show messages in range" %>
  <% end %>
</div>

<%=raw flot_graph_loader(
      :inject => "#sidebar-graph",
      :hostname => @host.host,
      :hours => 2
    )
%>

<h3 id="hosts-sidebar-totalcount">Total messages: <%= number_with_delimiter(@total_count, :delimiter => '.') %></h3>

<br />
<%= awesome_link "Delete host", host_path(@host), :method => :delete, :confirm => "Really delete this host? No messages will be deleted." %>
