<% minutes = params[:ms].blank? ? 15 : params[:ms].to_i %>
<h1>Hosts</h1>

<div id="hosts-quickjump">
  <%= form_tag '/hosts/quickjump/', :method => :get do %>
    <%= label_tag "hosts-quickjump-input", "Quick jump to host:" %>
    <%= text_field_tag :host, nil, :id => "hosts-quickjump-input" %>
    <%= awesome_submit_link "Go!" %>
  <% end %>
</div>

<script type="text/javascript">
  var data = "<%= @all_hosts.map { |h| h(h.host) }.join ',' %> ".split(",");
    $("#hosts-quickjump-input").autocomplete(data);
</script>

Monitoring <span class="highlighted"><%= @host_count %></span> hosts.

<br style="clear: both;" />

<div id="hosts-hosts">
  <% @hosts.each do |host| %>
    <% next if host.host.blank? %>

  <div id="el-e">
    <div class="el-e-left">
      <span class="el-e-sparkline">
        <%= sparkline_values(MessageCount.counts_of_last_minutes(minutes, :hostname => host.host, :fill => true).map { |timestamp, count| count }) %>
      </span>
    </div>

    <div class="el-e-middle">
      <span class="el-e-title">
        <%= link_to(host.host, host_messages_path(u(host.host))) %>
      </span>
    </div>

    <div class="el-e-right">
      <span class="el-e-description"></span>
    </div>
  </div>

  <% end %>
</div>

<%= paginate(@hosts) %>
