<%= form_for @user do |f| -%>

<dl id="users-form">
  <dt><%= label_tag 'login', "Username" %></dt>
  <dd>
    <%= f.text_field :login %>
    <span class="highlighted"><%= @user.errors[:login].join(" and ")%></span>
  </dd>

  <% Transport.all.each do |transport| %>
    <dt><%= label_tag "transports[#{transport.typeclass}]", transport.user_field_name %> (<%= transport.name %>)</dt>
    <dd>
      <%= text_field_tag "transports[#{transport.typeclass}]", @user.get_transport_value(transport.typeclass) , :size => 30 %>
    </dd>
  <% end %>

  <dt><%= label_tag 'name' %></dt>
  <dd>
    <%= f.text_field :name %>
    <span class="highlighted"><%= @user.errors[:name].join(" and ")%></span>
  </dd>

  <dt><%= label_tag 'password' %></dt>
  <dd>
    <%= f.password_field :password %>
    <span class="highlighted"><%= @user.errors[:password].join(" and ")%></span>
  </dd>

  <dt><%= label_tag 'password_confirmation', 'Confirm Password' %></dt>
  <dd>
    <%= f.password_field :password_confirmation %>
    <span class="highlighted"><%= @user.errors[:password_confirmation].join(" and ")%></span>
  </dd>

  <dt><%= label_tag 'role', 'Role'%></dt>
  <dd>
    <%= f.select(:role, user.valid_roles.collect {|r| [r.to_s.capitalize, r.to_s]}, :selected => (@user.role.blank? ? "admin" : @user.role)) %>
    <span class="highlighted"><%= @user.errors[:role].join(" and ")%></span>
  </dd>

  <dt class="users-streams" style="display: <%= show_streams?(@user) %>;"><%= label_tag 'streams', 'Grant access to following streams' %></dt>
  <dd class="users-streams" style="display: <%= show_streams?(@user) %>">
    <ul id="users-streams-selector">
    <% Stream.all.each do |stream| %>
      <li><%= check_box_tag "user[stream_ids][]", stream.id, user.streams.include?(stream) -%><%= stream.title -%></li>
    <% end %>
    </ul>
  </dd>

  <dt>&nbsp;</dt>
  <dd><%= submit_tag "#{form_action.capitalize} user" %></dd>
</dl>
<% end -%>
