<h1>Create first user</h1>
<div class="description">Create the first Graylog2 user. This user will be an administrator. You can create more users after logging in.</div>

<br />
<%= form_for :user, :url => { :action => "createfirst" } do |f| -%>
<dl id="users-form">
  <dt><%= label_tag 'login', "Username" %></dt>
  <dd><%= f.text_field :login %><%= @user.errors[:login].join(" and ")%></dd>

  <dt><%= label_tag 'name' %></dt>
  <dd><%= f.text_field :name %><%= @user.errors[:name].join(" and ")%></dd>

  <dt><%= label_tag 'password' %></dt>
  <dd><%= f.password_field :password %><%= @user.errors[:password].join(" and ")%></dd>

  <dt><%= label_tag 'password_confirmation', 'Confirm Password' %></dt>
  <dd><%= f.password_field :password_confirmation %><%= @user.errors[:password_confirmation].join(" and ")%></dd>

  <dt><%= hidden_field_tag "user[role]", "admin" %></dt>
  <dd><%= submit_tag "Create user" %></dd>

</dl>
<% end -%>
