<h1>User <span class="highlighted"><%= @user.login %></span></h1>

<h3>
  Name:
  <span class="highlighted">
    <% if @user.name.blank? %>
      <i>Not set</i>
    <% else %>
      <%= @user.name %>
    <% end %>
  </span>
</h3>

<h3>Role: <span class="highlighted"><%= @user.role.to_s.capitalize %></span></h3>

<h3>Email: <span class="highlighted"><%= @user.email %></span></h3>

<br />
<h3>Favorited streams:</h3>
<ul id="favorite-streams">
  <% @user.favorite_streams.each do |stream| %>
    <li><%=raw stream_link(stream) %></li>
  <% end %>
</ul>
