<h1>Stream <span class="highlighted"><%= @stream.title_possibly_disabled %></span></h1>

<div id="streams-description">
  <span id="streams-description-text">
    <% if @stream.description.blank? %>
      <% unless current_user.reader? %>
        <span id="streams-set-description-link" class="stream-description-change">
          Click to set description.
        </span>
      <% end %>
    <% else %>
      <%= @stream.description %>
      
      <% unless current_user.reader? %>
        <span id="streams-edit-description-link" class="stream-description-change">
          Click to edit description.
        </span>
      <% end %>
    <% end %>
  </span>

  <% unless current_user.reader? %>
    <div id="streams-set-description" style="display: none;">
      <%= form_tag setdescription_stream_path(@stream) do %>
        <%= label_tag :description, "Description:" %>
        <%= text_field_tag :description, @stream.description, :id => "streams-set-description-input" %>
        <%= submit_tag "Set" %>
      <% end %>
    </div>
  <% end %>
</div>

<% if params[:filters].blank? %>
<%= recent_index_switcher(params[:showall]) %>
<br />
<% end %>
