<h2>
    <% case @stream.alarm_status(current_user) %>
      <% when :alarm then %>
        <span class="status-alarm-text">ALARM:</span>
        <%= @stream.message_count_since(@stream.alarm_timespan.minutes.ago.to_i) %> messages in last <%= @stream.alarm_timespan %> minutes!
      <% when :no_alarm then %>
        <span class="status-okay-text">OK:</span>
        <%= @stream.message_count_since(@stream.alarm_timespan.minutes.ago.to_i) %> messages in last <%= @stream.alarm_timespan %> minutes.
      <% when :disabled then %>
        <%= @stream.message_count_since(5.minutes.ago) %> messages in last 5 minutes.
    <% end %>

    <% if @stream.alarm_status(current_user) != :disabled %>
      <span id="streams-sidebar-limit">(Limit: <%= @stream.alarm_limit %>)</span>
    <% end %>
</h2>

<div id="sidebar-graph" style="height: 100px;"></div>
<div id="graph-rangeselector" class="graph-rangeselector-sidebar" style="display: none;">
  <%= form_tag showrange_stream_path(@stream) do %>
    <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
    <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
    <%= awesome_submit_link "Show messages in range" %>
  <% end %>
</div>

<%=raw flot_graph_loader(
      :inject => "#sidebar-graph",
      :stream_id => @stream.id,
      :hours => 2
    )
%>

<h3 id="streams-sidebar-totalcount">Total messages: <%= number_with_delimiter(@total_count, :delimiter => '.') %></h3>

<h3>Favorited by:</h3>
<ul id="streams-sidebar-favorites">
  <% users = @stream.all_users_with_favorite %>
  <% if users.blank? %>
    <li>Nobody</li>
  <% else %>
    <% users.each do |u| %>
      <li><%=raw user_link(u) %></li>
    <% end %>
  <% end %>
</ul>

<h3>Alarmed users:</h3>
<ul id="streams-sidebar-alarms">
  <% if @stream.alarm_active and !@stream.alarm_limit.blank? and !@stream.alarm_timespan.blank? %>
    <% if @stream.alarm_force == true %>
      <li>All users</li>
    <% else %>
      <% users = @stream.all_users_with_alarm %>
      <% if users.blank? %>
        <li>None</li>
      <% else %>
        <% users.each do |u| %>
          <li><%=raw user_link(u) %></li>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <li>Alarms are not active for this stream</li>
  <% end %>
</ul>

<h3>Related streams</h3>
<ul id="related-streams">
  <% related_streams = @stream.related_streams %>
  <% if related_streams.blank? %>
    <li>None</li>
  <% else %>
    <% related_streams.each do |s| %>
      <li><%=raw stream_link(s) %></li>
    <% end %>
  <% end %>
</ul>

<br />
<h3>Created: <%= gl_date(@stream.created_at) %></h3>
<h3>Last change: <%= gl_date(@stream.updated_at) %></h3>

<br /><br />
<%= awesome_link "Open stream dashboard", stream_dashboard_index_path(@stream), :style => "display: inline;", :target => "_blank" %>