<div id="streams-stream">
  <div class="streams-stream-middle">
    <span class="streams-stream-title"><%= link_to(stream.title, stream_path(stream)) %></span>
    <span class="streams-stream-count">
      <%= stream.message_count_since(params[:ms].blank? ? 5.minutes.ago : params[:ms].to_i.minutes.ago) %>
      /
      <%= params[:ms].blank? ? 5 : params[:ms].to_i %> min
    </span>
  </div>

  <div class="streams-stream-right">
    <span class="streams-stream-last">
      <strong>Last message:</strong>
      <% last_msg = stream.last_message %>
      <% if last_msg.blank? %>
        No messages
      <% else %>
        <%= gl_date(Time.at(last_msg.created_at)) %>
        (<%= time_ago_in_words(Time.at(last_msg.created_at)) %> ago)
      <% end %>
    </span>
    <span class="streams-stream-description"><%= stream.description.blank? ? "No description" : stream.description %></span>
  </div>
</div>
