<h1>Analytics for stream <span class="highlighted"><%= @stream.title %></span></h1>

<h2>Count of new messages (last <span id="analytics-new-messages-hours">12</span> hours.)</h2>
<div id="streams-analytics-new-messages">
  <%= image_tag "loading.gif", :class => "ajaxloader" %>
</div>
<div id="graph-rangeselector" class="graph-rangeselector-sidebar" style="display: none;">
  <%= form_tag showrange_stream_path(@stream) do %>
    <%= hidden_field_tag :from, nil, :id => "graph-rangeselector-from" %>
    <%= hidden_field_tag :to, nil, :id => "graph-rangeselector-to" %>
    <%= awesome_submit_link "Show messages in range" %>
  <% end %>
</div>

<div id="analytics-new-messages-settings">
  <%= label_tag :hours, "Hours:" %>
  <%= text_field_tag :hours, 12, { :id => "analytics-new-messages-update-hours" } %>

  <%= awesome_submit_link "Update graph", { :id => "analytics-new-messages-update-submit", "data-updateurl" => visuals_path("streamgraph", :stream_id => @stream.id), "data-nowait" => "true" } %>
  <span id="analytics-new-messages-update-loading" style="display: none;">
    <%= image_tag 'loading-small.gif' %> Calculating...
  </span>
</div>

<%=raw flot_graph_loader(
    :inject => "#streams-analytics-new-messages",
    :stream_id => @stream.id,
    :hours => 12
  )
%>
