<h1>Forwarders of stream <span class="highlighted"><%= @stream.title %></span></h1>

<div class="description">
  You can forward messages of a stream to other endpoints. The messages will be forwarded directly after they are received by the server.
</div>

<h2>Active forwarders</h2>
<ul id="streams-forwarders">
<% if @stream.forwarders.blank? %>
  <li>None</li>
<% else %>
  <% @stream.forwarders.each do |forwarder| %>
    <li>
      <div class="streams-forwarders-forwarder-left">
        <span class="streams-forwarders-forwarder-type"><%= forwarder.human_endpoint_type %>:</span>
        <br />
        <span class="streams-forwarders-forwarder-delete">
          <%= link_to "Delete", stream_forwarder_path(@stream.id, forwarder), :method => :delete, :confirm => "Really delete this forwarder?" %>
        </span>
      </div>

      <div class="streams-forwarders-forwarder-right">
        <span class="streams-forwarders-forwarder-title"><%= forwarder.title %></span>
        <br />
        <span class="streams-forwarders-forwarder-details"><%= forwarder_details(forwarder) %></span>
      </div>
    </li>
  <% end %>
<% end %>
</ul>

<br />
<h3 style="display: inline;">Add forwarder:</h3>
<a href="#" onClick="$('#udp-syslog-forwarder').modal({ overlayClose:true })" class="streams-forwarder-add">UDP Syslog</a> |
<a href="#" onClick="$('#gelf-forwarder').modal({ overlayClose:true })" class="streams-forwarder-add">GELF</a> |
<a href="#" onClick="$('#loggly-forwarder').modal({ overlayClose:true })" class="streams-forwarder-add">Logg.ly</a>

<div class="streams-forwarder-form" id="udp-syslog-forwarder">
<h3>Add <span class="highlighted">UDP syslog</span> forwarder</h3>
<div class="short-description">
  Forward messages to another syslog server via UDP. (Not forwarding GELF messages)
</div>
<%= form_for @new_forwarder, :url => stream_forwarders_path(@stream) do |f| %>
  <%= hidden_field_tag "forwarder[endpoint_type]", :syslog %>
  <%= hidden_field_tag "stream_id", @stream.id %>

  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>

  <br />
  <%= f.label :host, "Host:" %>
  <%= f.text_field :host, :size => 15 %>

  <%= f.label :port, "Port:" %>
  <%= f.text_field :port, :size => 7 %>

  <br />
  <br />
  <%= awesome_submit_link "Add forwarder" %>
<% end %>
</div>

<div class="streams-forwarder-form" id="gelf-forwarder">
<h3>Add <span class="highlighted">GELF</span> forwarder</h3>
<div class="short-description">
  Forward messages to another GELF server.
</div>
<%= form_for @new_forwarder, :url => stream_forwarders_path(@stream) do |f| %>
  <%= hidden_field_tag "forwarder[endpoint_type]", :gelf %>
  <%= hidden_field_tag "stream_id", @stream.id %>

  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>

  <br />
  <%= f.label :host, "Host:" %>
  <%= f.text_field :host, :size => 15 %>

  <%= f.label :port, "Port:" %>
  <%= f.text_field :port, :size => 7 %>

  <br >
  <br >
  <%= awesome_submit_link "Add forwarder" %>
<% end %>
</div>

<div class="streams-forwarder-form" id="loggly-forwarder">
<h3>Add <span class="highlighted">Logg.ly</span> forwarder</h3>
<div class="short-description">
  Forward messages to Logg.ly's HTTPS API. URL including https://
</div>
<%= form_for @new_forwarder, :url => stream_forwarders_path(@stream) do |f| %>
  <%= hidden_field_tag "forwarder[endpoint_type]", :loggly %>
  <%= hidden_field_tag "stream_id", @stream.id %>

  <%= hidden_field_tag "forwarder[port]", 80 %>

  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>

  <br />
  <%= f.label :host, "URL:" %>
  <%= f.text_field :host %>

  <br >
  <br >
  <%= awesome_submit_link "Add forwarder" %>
<% end %>
</div>

<br style="clear: both;" />
