<h1>Streams</h1>

<div class="description">
  Streams can be used to store specific views on the syslog messages. Define filter rules for each stream and quickly select
  them later. Example: Create a stream "All database messages of host www15" that only shows messages from host "www15" which
  include the string "MySQL".
</div>

<% permitted_to? :create, :streams do %>
  <%= form_for @new_stream, :url => streams_path do |f| %>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %>
    <%= awesome_submit_link "Create stream" %>
  <% end %>
<% end %>

<% permitted_to? :create, :streamcategories do %>
  <%= form_for @new_streamcategory, :url => streamcategories_path do |f| %>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %>
    <%= awesome_submit_link "Create category" %>
  <% end %>
<% end %>

<div id="streams-streams">
  <% Streamcategory.all.each do |category| %>
    <h2 class="streams-title"><%= category.title %></h2>
    <% category.streams.each do |stream| %>
      <%= render :partial => "streamrow", :locals => { :stream => stream } %>
    <% end %>
  <% end %>

  <% unless @streams_with_no_category.blank? %>
    <h2 class="streams-title">Uncategorized</h2>
    <% @streams_with_no_category.each do |stream| %>
      <%= render :partial => "streamrow", :locals => { :stream => stream } %>
    <% end %>
  <% end %>
</div>

<br style="clear: both;" />
