<h1>Streams</h1>

<div class="description">
  Streams can be used to store specific views on the syslog messages. Define filter rules for each stream and quickly select
  them later. Example: Create a stream "All database messages of host www15" that only shows messages from host "www15" which
  include the string "MySQL".
</div>

<% permitted_to? :create, :streams do %>
  <%= form_for @new_stream, :url => streams_path do |f| %>
    <%= f.label :title, "Title:" %>
    <%= f.text_field :title %>
    <%= awesome_submit_link "Create Stream" %>
  <% end %>
<% end %>

<table id="streams-table">
  <% @streams.each do |stream| %>
    <tr>
      <td class="streams-table-title"><%= link_to(stream.title, stream_path(stream)) %></td>
    </tr>
  <% end %>
</table>

<!--<% @streams.each do |stream| %>
  <div class="blocks">
    <span class="blocks-title"><%= link_to h(stream.title), stream_path(stream) %></span>
    <ul class="blocks-termslist">
      <% if stream.streamrules.blank? %>
        <li>No rules</li>
      <% else %>
        <% stream.streamrules.each do |rule| %>
        <li>
          <%=raw streamrule_to_human(rule) %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>-->

<br style="clear: both;" />
