<h1>Outputs of stream <span class="highlighted"><%= @stream.title_possibly_disabled %></span></h1>
<div class="short-description">Every message that arrives in this stream can be written to as many outputs as you want. The
ElasticSearch output is always enabled.</div>

<% if @stream.outputs.blank? %>
	<strong>No outputs configured for this stream.</strong>
	<br /><br />
<% else %>
	<% @stream.outputs.sort_by{ |o| o["description"]}.each do |output| %>
		<div class="lines-line">
			<h3><%= output["description"] %></h3>
			<strong>Type:</strong> <%= output["typeclass"] %>
			<br />
			<%= link_to "Delete", delete_output_stream_path(:output_id => output["id"]), :method => :delete, :confirm => "Really delete output?" %>
			|
			<%= link_to "Edit", "#", :class => "stream-output-edit-link", "data-output-id" => output["id"] %>

			<div class="stream-output-edit" id="stream-output-edit-<%= output['id'] %>">
				<%= form_tag(edit_output_stream_path(@stream), :method => :put) do %>
					<%= hidden_field_tag :output_id, output["id"] %>
					<%= hidden_field_tag :typeclass, output["typeclass"] %>

					<%= label_tag "config[description]", "Description" %><br />
					<%= text_field_tag "config[description]", output["description"], :size => 40 %>
					<br />

					<% output.delete_if { |k,v| Stream::RESERVED_OUTPUT_FIELDS.include?(k) }.each_pair do |k,v|  %>
						<%= label_tag "config[#{k}]", k %>
						<br />
						<%= text_field_tag "config[#{k}]", v, :size => 40 %>
						<br />
					<% end %>

					<br />
					<%= awesome_submit_link "Save changes" %>
				<% end %>
			</div>
		</div>
	<% end %>
<% end %>

<h2>Add output</h2>
<% if @outputs.blank? %>
	<strong>You have no output plugins installed.</strong>
<% else %>
	<%= form_tag(add_output_stream_path(@stream)) do %>

		<%= select_tag :typeclass, options_for_select(@outputs.map { |o| [o.name, o.typeclass] }), :id => "stream-outputs-chooser" %>

		<% @outputs.each_with_index do |output, i| %>
			<% next if output.requested_stream_config.blank? %>
			<dl class="stream-output-fields" id="stream-output-fields-<%= output.typeclass.gsub!('.', '_') %>"
				<% if i == 0 %>
					style="display: block;"
				<% end %>
			>
				<dt><%= label_tag "config[#{output.typeclass}][description]", "Description" %></dt>
				<dd><%= text_field_tag "config[#{output.typeclass}][description]", nil, :size => 40 %></dd>
				<% output.requested_stream_config.each do |c, title| %>
					<dt><%= label_tag "config[#{output.typeclass}][#{c}]", title %></dt>
					<dd><%= text_field_tag "config[#{output.typeclass}][#{c}]", nil, :size => 40 %></dd>
				<% end %>
			</dl>
		<% end %>

		<br />
		<%= awesome_submit_link "Add output" %>
	<% end %>
<% end %>