<h1>Rules of stream <span class="highlighted"><%= @stream.title %></span></h1>
<div class="description">
  Streams can be used to store specific views on the syslog messages. Define filter rules for each stream and quickly select
  them later. Example: Create a stream "All database messages of host www15" that only shows messages from host "www15" which
  include the string "MySQL".
</div>

<h2>Add rule:</h2>
<%= form_for @new_rule, :url => stream_streamrules_path(@stream) do |f| %>
  <%= f.hidden_field :stream_id, :value => @stream.id %>
  <%= f.select :rule_type, options_for_select(Streamrule.get_types_for_select_options(:streams), :selected => Streamrule::TYPE_MESSAGE) %>
  <%= f.text_field :value, :class => "stream-value-field stream-value-message" %>
  <%= f.text_field :value, { :class => "stream-value-field stream-value-facility", :style => "display: none;", :disabled => true } %>

  <div id="stream-value-severity-master" style="display: none;">
    <%= f.select :value, options_for_select(get_ordered_severities_for_select), {}, { :disabled => true, :class => "stream-value-field stream-value-severity" } %>
  </div>

  <%= f.select :value, Host.all.collect {|host| [ h(host.host) ]}.sort, {}, { :disabled => true, :style => "display: none;", :class => "stream-value-field stream-value-host" } %>
  <%= f.text_field :value, :class => "stream-value-field stream-value-additional-field", :disabled => true, :style => "display: none;" %>
  <span id="stream-value-additional-field-help" class="stream-value-help" style="display: none;"><%= tooltip("Additional-field-filters-in-streams") %></span>
  <%= awesome_submit_link "Add" %>
<% end %>

<br />
<h2>Filter rules:</h2>
<div class="short-description">Click on a rule to remove it</div>
<ul>
  <% if @stream.streamrules.blank? %>
    <li>No rules defined.</li>
  <% else %>
    <% @stream.streamrules.each do |rule| %>
      <li style="margin-bottom: 2px;">
        <h4 style="display: inline;"><%= raw(streamrule_to_human(rule)) %></h4>
        <%= link_to("Delete", stream_streamrule_path(@stream, rule), :method => :delete) %>
      </li>
    <% end %>
  <% end %>
<ul>
