<h1>Settings of stream <span class="highlighted"><%= @stream.title %></span></h1>

<h2>General</h2>
<div class="short-description">All these settings are only applied for your user.</div>

<%=raw ajaxtrigger(:favorite, "Favorite", "/favoritedstreams/toggle/#{@stream.id}", @stream.favorited?(current_user)) %>
<br />

<%=raw ajaxtrigger(:alarm, "Receive alarms of this stream", "/streamalerts/toggle/#{@stream.id}", @stream.alerted?(current_user) ) %>
<br />

<%=raw ajaxtrigger(:subscribe, "Subscribe to stream", "/subscribedstreams/toggle/#{@stream.id}", @stream.subscribed?(current_user) ) %>
<br /><br />

<h2>Alarms</h2>
<div class="short-description">An alarm is triggered when the number of messages in the defined timespan
is higher than the allowed number of messages. All users who enabled receiving of alerts will be notified
of the alarm. You can also define that all users are alarmed, no matter what they defined.</div>

- for all users?
- active?
- limit / minute
- save

<h2>Rename stream</h2>
<%= form_tag '/streams/rename/' do %>
  <%= label_tag 'title', 'New name:' %>
  <%= text_field_tag 'title' %>
  <%= hidden_field_tag :stream_id, @stream.id%>
  <%= submit_tag 'Rename' %>
<% end %>
<br />
  
<h2>Delete messages</h2>
<%= link_to "Delete all messages hit by this stream", { :controller => "messages", :action => "deletebystream", :id => @stream.id }, :confirm => "Really delete the messages?", :class => "bigger" %>
<br /><br />

<h2>Delete stream</h2>
<%= link_to "Delete this stream", { :action => "destroy", :id => @stream.id }, :confirm => "Really delete this stream?", :class => "bigger" %>
