<h1>Settings of stream <span class="highlighted"><%= @stream.title_possibly_disabled %></span></h1>

<%=raw ajaxtrigger(:disable_stream, "Stream disabled", toggledisabled_stream_path(@stream), @stream.disabled) %>
<br /><br />

<h2>General</h2>
<div class="short-description">These settings are only applied for your user.</div>

<%=raw ajaxtrigger(:favorite, "Favorite", togglefavorited_stream_path(@stream), @stream.favorited?(current_user)) %>
<br /><br />

<h2>Category</h2>
<%= form_tag categorize_stream_path(:stream_id => @stream) do %>
  <%= label_tag 'streamcategory_id', 'Category:' %>
  <%= hidden_field_tag :stream_id, @stream.id%>
  <%= select_tag(:streamcategory_id,
      (options_from_collection_for_select(Streamcategory.all, "id", "title", 0) + raw("<option value='0' selected='selected'>Uncategorized</option>"))) %>
  <%= awesome_submit_link 'Set category' %>
<% end %>

<% if @stream.streamcategory.blank? %>
  Currently in no category.
<% else %>
  Currently in category <span class="highlighted"><%= @stream.streamcategory.title %></span>.
<% end %>
<br /><br />

<h2>Short name</h2>
<div class="short-description">Used to identify streams in the Analytics Shell without knowing the whole ID. Must be unique and only contain alphanumeric characters or underscores.</div>
<%= form_tag shortname_stream_path(:stream_id => @stream) do %>
  <%= label_tag 'shortname', 'Short name:' %>
  <%= text_field_tag 'shortname', @stream.shortname %>
  <%= awesome_submit_link 'Set' %>
<% end %>
<br />

<h2>Rename stream</h2>
<%= form_tag rename_stream_path(:stream_id => @stream) do %>
  <%= label_tag 'title', 'New name:' %>
  <%= text_field_tag 'title', @stream.title %>
  <%= hidden_field_tag :stream_id, @stream.id%>
  <%= awesome_submit_link 'Rename' %>
<% end %>
<br />

<h2>Related streams regex</h2>
<div class="short-description">All streams with titles that match this regular expression will be listed as related streams</div>
<%= form_tag related_stream_path(:stream_id => @stream) do %>
  <%= label_tag 'related_streams_matcher', 'Matcher (regex):' %>
  <%= text_field_tag 'related_streams_matcher', @stream.related_streams_matcher %>
  <%= awesome_submit_link 'Set' %>
<% end %>
<br />


<h2>Additional Columns</h2>
<div class="short-description">Add additional columns to display more fields in the messages table.</div>
<ul id="streams-additional-colums-list">
<% if @stream.additional_columns.empty? %>
  <li>No additional columns configured.</li>
<% else %>
  <% @stream.additional_columns.each do |col| %>
  <li>
    <span class="streams-additional-colums-title"><%= col %></span>
    <%= link_to "Delete", removecolumn_stream_path(:stream_id => @stream, :column => col),
                          :method => :delete,
                          :confirm => "Really delete this column?" %>
  </li>
  <% end %>
<% end %>
</ul>

<%= form_tag addcolumn_stream_path(:stream_id => @stream) do %>
  <%= label_tag 'column', 'New column:' %>
  <%= text_field_tag 'column' %>
  <%= hidden_field_tag :stream_id, @stream.id %>
  <%= awesome_submit_link 'Add' %>
<% end %>

<br/><br/>

<%= awesome_link "Delete this stream", stream_path(@stream.id), :confirm => "Really delete this stream?", :method => :delete %>

<div id="streams-settings-clone-modal">
  <%= form_tag(clone_stream_path(@stream)) do %>
    <%= label_tag "title", "Title of new stream:" %>
    <%= text_field_tag "title" %>
    <%= awesome_submit_link "Clone" %>
  <% end %>
  This will create a new disabled stream with all rules copied from this stream.
</div>
<%= awesome_link "Clone this stream", "#", { :onclick => "$('#streams-settings-clone-modal').modal({ overlayClose:true })" } %>
