<div id="streamid" style="display: none;"><%=h @stream.id %></div>

<div id="streams-delete">
  <%= link_to "Delete this stream", { :action => "destroy", :id => @stream.id }, :confirm => "Really delete this stream with all it's filter rules?" %>
</div>

<h1>Stream <span class="highlighted"><%= @stream.title %></span></h1>

<div id="streams-right">
  <% if @is_favorited %>
    <% form_tag "/favoritedstreams/destroy/#{h(@stream.id)}" do %>
      <%= submit_tag "Remove this stream from your favorites" %>
    <% end %>
  <% else %>
    <% form_tag "/favoritedstreams/create/#{h(@stream.id)}" do %>
      <%= submit_tag "Add this stream to your favorites" %>
    <% end %>
  <% end %>

  <br />
  <% form_tag("/messages/deletebystream/#{h(@stream.id)}") do -%>
    <%= submit_tag "Delete all messages hit by this stream", :confirm => "Really delete all messages hit by this stream?" %>
  <% end -%>
</div>

<% form_for @new_rule, :url => { :controller => "streamrules", :action => "create" } do |f| %>
  <%= f.hidden_field :stream_id, :value => @stream.id %>
  <%= f.label :term, "New Rule:" %>
  <%= f.select :rule_type, options_for_select(Streamrule.get_types_for_select_options, :selected => Streamrule::TYPE_MESSAGE) %>
  <%= f.text_field :value, :class => "stream-value-field stream-value-message" %>
  <%= f.select :value, options_for_select(get_ordered_facilities_for_select), {}, { :disabled => true, :style => "display: none;", :class => "stream-value-field stream-value-facility" } %>
  <%= f.select :value, options_for_select(get_ordered_severities_for_select), {}, { :disabled => true, :style => "display: none;", :class => "stream-value-field stream-value-severity" } %>
  <%= f.select :value, Host.all.collect {|host| [ h(host.host) ] }, {}, { :disabled => true, :style => "display: none;", :class => "stream-value-field stream-value-host" } %>
  <%= submit_tag "Add" %>
<% end %>

<div id="blocks-terms">
  <h2>Filter rules:</h2>
  <ul>
    <% if @stream.streamrules.blank? %>
      <li>none</li>
    <% else %>
      <% @stream.streamrules.each do |rule| %>
        <li>
          <%= streamrule_to_human rule %>
          <%= link_to image_tag("icons/delete.png", :style => "position: relative; top: -2px"), { :controller => "streamrules", :action => "destroy", :id => rule.id, :stream_id => @stream.id }, :class => "blocks-terms-delete" %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <br style="clear: both;" />
</div>

<a href="#" id="streams-show-statistics">&raquo; Show statistics</a>

<div id="blocks-statistics" style="display: none;">
  <div class="loading"></div>
</div>

<% unless @stream.streamrules.blank? %>
  <%= render :partial => "messages/table", :locals => { :messages => @messages, :total_messages => @total_count } %>
<% end %>
