<h1>Facilities</h1>
<div class="description">Overwrite standard syslog facilties and add own.</div>

<ul>
  <% @facilities.each do |number, facility| %>
    <li>
      <h4>
        <%= number %>: <%= facility %>
        <%= link_to "Edit", "#", :class => "facilities-edit-link" %>
      </h4>

      <div class="facilities-edit">
        <%= form_tag changetitle_facility_path(number), :style => "display: inline;" do |f| %>
          <%= label_tag :title, "New title:" %>
          <%= text_field_tag :title %>
          <%= awesome_submit_link "Change title" %>
        <% end %>
        
        <% unless Facility.standards.include?(number) %>
          &nbsp;
          <%= awesome_link "Delete facility", facility_path(number), :method => :delete, :confirm => "Really delete facility?" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

<br />
<h2>Add facility</h2>
<%= form_for @new_facility, :url => facilities_path do |f| %>
  <%= f.label :number, "Number:" %>
  <%= f.text_field :number %>

  &nbsp;
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>

  &nbsp;
  <%= awesome_submit_link "Add" %>
<% end %>
