<h1>Settings</h1>
<div class="description">
  The options you can set in the text boxes on the lower part only affect your own user.
</div>

<div class="setting">
  <h4><label>Message length</h4>
  <%= form_tag store_settings_path do -%>
    <%= hidden_field_tag 'setting_type', Setting::TYPE_MESSAGE_LENGTH %>
    <%= text_field_tag 'value', Setting.get_message_length(current_user) %>
    <%= awesome_submit_link 'Store' %>
    <br />
    The length of messages before they are cut with a <span class="code">[more]</span> link. (Default: <%= Setting::TYPE_MESSAGE_LENGTH_STANDARD %>)
  <% end -%>
</div>

<div class="setting">
  <h4><label>Message count interval</label></h4>
  <%= form_tag store_settings_path do -%>
    <%= hidden_field_tag 'setting_type', Setting::TYPE_MESSAGE_COUNT_INTERVAL %>
    <%= text_field_tag 'value', Setting.get_message_count_interval(current_user) %>
    <%= awesome_submit_link 'Store' %>
    <br />
    Graylog2 can display the number of handled log messages in the last X minutes. Define X here. (Default: <%= Setting::TYPE_MESSAGE_COUNT_INTERVAL_STANDARD %>)
  <% end -%>
</div>