<h1>System settings</h1>

<div class="description">
	All settings here affect the whole system, not only your user.
</div>

<h2>Allow sending anonymous usage statistics?</h2>
<div class="short-description">
It would be really great if you would allow us to <span class="highlighted">collect anonymous
usage statistics</span>. It will not include any ID, and not transfer any sensible
information. We will only collect information like the total number of messages
you are managing, the number of streams you have configured or how many
ElasticSearch clusters are in your cluster. Your graylog2-server master instance will
send this information periodically. You can see which information is transferred
directly in the source code on GitHub:
<%= link_to "AnonymousInformationCollector.java", "https://github.com/Graylog2/graylog2-server/blob/master/src/main/java/org/graylog2/AnonymousInformationCollector/AnonymousInformationCollector.java", :target => "_blank" %>
<em>(Use the git tags to see the code of the version you are using [<%= GRAYLOG2_VERSION %>])</em>
</div>

You were asked this question when you logged in the first time and can change your mind here 
at any time.

<br /><br />
<%= form_tag (allow_usage_stats_systemsettings_path) do %>
	<%= check_box_tag :allow, :allow, @allow_usage_stats %>
	<%= label_tag :allow, "Allow sending anonymous usage statistics" %>
	<%= awesome_submit_link "Save" %>
<% end %>

<br />
<h2>Alarm callback plugins</h2>
<div class="short-description">
All currently installed alarm callback plugins are listed here. You can enable/disable them and define if triggering them should be force for all streams. If you decide not to force triggering for all streams, you have to enable it on the settings page of each stream individually.
</div>

<% if @alarm_callbacks.blank? %>
	<strong>No alarm callback plugins installed</strong>
	<br /><br />
<% else %>
	<% @alarm_callbacks.each_with_index do |callback, i| %>
		<div class="lines-line">
			<h3><%= callback.name %></h3>
			<strong>Type:</strong> <%= callback.typeclass %><br />
			<strong>Forced for all streams:</strong>
			<%=raw ajaxtrigger("toggle_callback_forced_#{i}", "",
				toggle_alarmcallback_force_systemsettings_path(:typeclass => callback.typeclass),
				SystemSetting.alarm_callback_forced?(callback.typeclass)) %>
			<br />
			<%= link_to "Configure", "/plugin_configuration/configure/alarm_callback/#{callback.typeclass}" %>
		</div>
	<% end %>
<% end %>


<h2>Message output plugins</h2>
<div class="short-description">
All currently installed message output plugins are listed here. You can configure them here and enable them for every stream individually.
</div>

<% if @message_outputs.blank? %>
	<strong>No message output plugins installed</strong>
	<br /><br />
<% else %>
	<% @message_outputs.each do |output| %>
		<div class="lines-line">
			<h3><%= output.name %></h3>
			<strong>Type:</strong> <%= output.typeclass %><br />
			<%= link_to "Configure", "/plugin_configuration/configure/message_output/#{output.typeclass}" %>
		</div>
	<% end %>
<% end %>

<h2>Message input plugins</h2>
<% if @message_inputs.blank? %>
	<strong>No message input plugins installed</strong>
	<br /><br />
<% else %>
	<% @message_inputs.each do |input| %>
		<div class="lines-line">
			<h3><%= input.name %></h3>
			<strong>Type:</strong> <%= input.typeclass %><br />
			<%= link_to "Configure", "/plugin_configuration/configure/message_input/#{input.typeclass}" %>
		</div>
	<% end %>
<% end %>

<h2>Alarm transport plugins</h2>
<% if @transports.blank? %>
	<strong>No transport plugins installed</strong>
	<br /><br />
<% else %>
	<% @transports.each do |transport| %>
		<div class="lines-line">
			<h3><%= transport.name %></h3>
			<strong>Type:</strong> <%= transport.typeclass %><br />
			<%= link_to "Configure", "/plugin_configuration/configure/transport/#{transport.typeclass}" %>
		</div>
	<% end %>
<% end %>

<h2>Initializer plugins</h2>
<% if @initializers.blank? %>
	<strong>No message initializers installed</strong>
	<br /><br />
<% else %>
	<% @initializers.each do |init| %>
		<div class="lines-line">
			<h3><%= init.name %></h3>
			<strong>Type:</strong> <%= init.typeclass %><br />
			<%= link_to "Configure", "/plugin_configuration/configure/initializer/#{init.typeclass}" %>
		</div>
	<% end %>
<% end %>