<h1>Message comments</h1>
<div class="description">Use message comments to explain what certain log messages mean and how they should be handled by your team members. Every message that matches the regular expression will have the comment in it's full view.</div>

<h2>Comments</h2>

<ul>
  <% if @comments.size > 0 %>
    <% @comments.each do |comment| %>
      <li>
        <h4>
          <i><%= comment.match %>:</i>
          <%= link_to comment.title, messagecomment_path(comment) %>
        </h4>
      </li>
    <% end %>
  <% else %>
    <li>No comments defined</li>
  <% end %>
</ul>

<br />
<div id="messagecomments-form">
<h2>New comment</h2>
<%= form_for @comment, :url => messagecomments_path do |f| %>
  <%= label_tag :title, "Title:" %>
  <%= f.text_field :title %>

  &nbsp;
  <%= label_tag :match, "Regular expression:" %>
  <%= f.text_field :match %>

  <br />
  <%= text_area_tag "messagecomment[comment]", nil, :size => "100x10" %>
  <br />

  <%= awesome_submit_link "Create comment" %>
<% end %>
</div>
