<div class="top-right">
  <%= awesome_link "Delete comment", messagecomment_path(@comment.id), :method => "delete" %>
</div>

<h1>Message comment <span class="highlighted"><%= @comment.title %></span></h1>

<div id="messagecomments-form">
<%= form_for @comment, :url => messagecomment_path(@comment.id) do |f| %>
  <%= label_tag :title, "Title:" %>
  <%= f.text_field :title %>

  &nbsp;
  <%= label_tag :match, "Regular expression:" %>
  <%= f.text_field :match %>

  <br />
  <%= text_area_tag "messagecomment[comment]", @comment.comment, :size => "100x10" %>
  <br />

  <%= awesome_submit_link "Edit comment" %>
<% end %>
</div>
