<div class="health-index">
  <h3><%= index_name %></h3>
  <%= info["docs"] %> documents, <%= number_to_human_size(info["size"]*1024) %> |
  <%= humanize_seconds(info["time_index"]) %> index,
  <%= humanize_seconds(info["time_query"]) %> query,
  <%= humanize_seconds(info["time_fetch"]) %> fetch,
  <%= humanize_seconds(info["time_get"]) %> get

  <br />
  <div class="health-shards">
    <% info["shards"].each do |shard| %>
      <div class="health-shard health-shard-<%= shard_status(shard).to_s %>">
        <span class="health-shard-id"><%= shard["id"] %></span>
        on <span class="health-shard-name"><%= shard["node_name"] %></span> (<%= shard["node_hostname"] %>)

        <%= shard_status(shard).to_s.upcase %>

        <% if shard["primary"] %>
          <span class="health-shard-primary">[PRI]</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>