<h1>
  Health of <span class="highlighted"><%= Cluster.active_nodes.count %></span> active
  <span class="highlighted">graylog2-server</span> instances
</h1>

<div class="health-numbers">
  <span class="health-numbers-title">Throughput:</span>

  <span class="health-numbers-number-highlighted health-throughput-current">
    <%= Cluster.throughput %>
  </span>
  <span class="health-numbers-label">Current</span>

  &nbsp;

  <%= Cluster.highest_throughput %>
  <span class="health-numbers-label">Highest</span>

  &nbsp;

  <span class="health-numbers-explanation">(messages / second)</span>
</div>

<% Cluster.active_nodes.each do |node| %>
  <div class="health-node">
    <h3>
      Node <span class="highlighted"><%= node.server_id %></span>
      <% if node.is_master? %>
        <span class="health-master">(Master)</span>
      <% end %>
    </h3>
    <h4><span class="highlighted">Hostname:</span> <%= node.local_hostname %></h4>
    <h4><span class="highlighted">Throughput:</span> <%= node.current_throughput %> / 5 sec (<%= node.highest_throughput %> highest)</h4>
    <h4>
      <span class="highlighted">Buffer utilization:</span>
      <%= node.buffer_watermark_percentage("processbuffer") %>% ProcessBuffer [<%= node.buffer_watermark("processbuffer") %>]
      /
      <%= node.buffer_watermark_percentage("outputbuffer") %>% OutputBuffer [<%= node.buffer_watermark("outputbuffer") %>]
    </h4>
    <h4><span class="highlighted">Started:</span> <%= gl_date(Time.at(node.startup_time)) rescue "?" %></h4>
    <h4><span class="highlighted">Available processors:</span> <%= node.available_processors %></h4>
    <h4><span class="highlighted">JRE:</span> <%= node.jre %></h4>
    <h4><span class="highlighted">PID:</span> <%= node.pid %></h4>
    <h4><span class="highlighted">Server version:</span> <%= node.graylog2_version %></h4>
  </div>
<% end %>
  

<h3><span class="highlighted">Ruby:</span> <%= RUBY_VERSION %> (p<%= RUBY_PATCHLEVEL %> <%= RUBY_PLATFORM %> <%= RUBY_RELEASE_DATE %>)</h3>
<h3><span class="highlighted">Web Interface version:</span> <%= GRAYLOG2_VERSION %></h3>

<br />
<h2>Indices &amp; Shards</h2>
<% if !@index_information.blank? and DeflectorInformation.up_to_date? %>
  <strong>Current deflector target:</strong>
  <span class="highlighted"><%= @index_information.deflector_target %></span>
  <br />

  <strong>Number of messages per index:</strong>
  <span class="highlighted"><%= @index_information.max_messages_per_index %></span>
  <br />

  <strong>Recent index storage type:</strong>
  <span class="highlighted"><%= @recent_index["storage_type"] %></span>

  <ul id="health-nodes">
  <% @nodes.each_with_index do |node, i| %>
    <li>
      <strong>Node <%= i+1 %>: <span class="highlighted"> <%= node[:name] %></span></strong>
      on <span class="highlighted"><%= node[:hostname] %></span>
      (<%= node[:id] %>)
    </li>
  <% end %>
  </ul>

  <%= render :partial => "index", :locals => { :index_name => @recent_index["name"], :info => @recent_index["info"] } %>

  <% @indices.to(3).each do |name, info| %>
    <%= render :partial => "index", :locals => { :index_name => name, :info => info } %>
  <% end %>

  <% if @indices.size > 4 %>
    <a href="#" id="health-show-all-indices">Show all indices</a>
    
    <div id="health-indices-more">
      <% @indices.from(4).each do |name, info| %>
        <%= render :partial => "index", :locals => { :index_name => name, :info => info } %>
      <% end %>
    </div>
  <% end %>

<% else %>
  <strong>Information is not up to date! Seems like you have no Graylog2 node running.</strong>
  <br />
<% end %>
<i>Informaton last updated at <%= gl_date(Time.at(@index_information.timestamp)) %> by <%= @index_information.server_id %></i>

<br /><br />
<h2>Server messages</h2>
<table class='messages'>
  <thead>
  <tr>
    <th style="width: 250px;">Date<%= sorting_link(:date, params[:sort], params[:order]) %></th>
    <th>Node<%= sorting_link(:node_id, params[:sort], params[:order]) %></th>
    <th>Caller<%= sorting_link(:caller, params[:sort], params[:order]) %></th>
    <th>Message</th>
  </tr>
  </thead>
<% @server_activities.each do |activity| %>
  <tr>
    <td>
  		<%= gl_date(Time.at(activity.timestamp)) %>
  		(<%= distance_of_time_in_words_to_now(Time.at(activity.timestamp)) %> ago)
    </td>
    <td><%= activity.node_id %></td>
    <td><%= activity.caller %></td>
    <td><%= activity.content %></td>
  </tr>
<% end %>
</table>

<%= paginate(@server_activities) %>