<h1>Message retention time</h1>
<div class="description">This time defines for how long messages will stay in your Graylog2 index. The standard retention time is
<span class="highlighted"><%= Setting::TYPE_RETENTION_TIME_DAYS_STANDARD %> days</span>. The <span class="highlighted">cleaning
frequency</span> defines how often the server deletes old messages from the index. (Standard is
<span class="highlighted"><%= Setting::TYPE_RETENTION_FREQ_MINUTES_STANDARD %> minutes</span>. <span class="highlighted">
So if you leave all standard settings the server will delete all messages older than <%= Setting::TYPE_RETENTION_TIME_DAYS_STANDARD %>
days every <%= Setting::TYPE_RETENTION_FREQ_MINUTES_STANDARD %> minutes</span>) Note that the longer you set your retention
time the more powerful your system setup must be if you want fast searches and analytics. (especially HDD IO) Graph drawing is not
influenced by this, what means that even if you set the retention time to 7 days, you could still draw graphs for longer periods.</div>

<%= form_tag store_settings_path do %>
  <%= hidden_field_tag 'setting_type', Setting::TYPE_RETENTION_TIME_DAYS %>
  <%= label_tag :value, 'Retention time in days:' %>
  <%= text_field_tag :value, @retention_time, :size => 4 %>

  <%= awesome_submit_link 'Update', :confirm => "Really change?" %>
<% end %>

<br />
<%= form_tag store_settings_path do %>
  <%= hidden_field_tag 'setting_type', Setting::TYPE_RETENTION_FREQ_MINUTES %>
  <%= label_tag :value, 'Retention frequency in minutes:' %>
  <%= text_field_tag :value, @retention_frequency, :size => 4 %>

  <%= awesome_submit_link 'Update', :confirm => "Really change?" %>
<% end %>
Note that this setting will only be accounted after next retention run.

<br /><br />
<strong>Last retention run:</strong>
<%= @last_run.nil? ? "Never/Unknown" : gl_date(Time.at(@last_run)) %>
