<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Graylog2</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= favicon_link_tag "/favicon.ico" %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "jquery.gritter" %>
  <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "sections" %>
  <%= stylesheet_link_tag "messages" %>
  <%= stylesheet_link_tag "shell" %>

  <script src="/assets/application.js?body=1" type="text/javascript"></script>
  
  <%= javascript_include_tag("jit") if @load_jit %>
  <% if @load_flot %>
    <%= javascript_include_tag("flot") %>
  <% end %>

  <%= javascript_include_tag "backtotop" if @use_backtotop %>
</head>
<body>
  <%= javascript_tag("var relative_url_root = '#{controller.config.relative_url_root}';") %>

  <div id="pageload" style="display: none;"><%= Time.now.to_i %></div>
  <div id="gln" style="display: none;">&nbsp;Loading&hellip;</div>

  <div id="back-to-top">Back to top</div>

  <div id="current-throughputs">
    <span class="health-throughput-current"><%= Cluster.throughput %></span> msgs / sec
    &nbsp; [ <%= Cluster.active_nodes.count %>n ]
  </div>
  <script type="text/javascript">
    $("#current-throughputs").bind("click", function() {
      window.location = "<%= health_index_path %>";
    })
  </script>

  <div id="top">
    <div id="userbar">
      Logged in as <%= current_user.login %> &nbsp;<%= link_to "(Log out)", logout_path %>
    </div>
    <%= link_to image_tag("graylog.png", :id => "toplogo"), (current_user.reader? ? streams_path : messages_path)%>
    <ul id="topmenu">
      <% current_user.role == "admin" and permitted_to? :index, :messages do %><%=raw menu_item("Messages", messages_path) %><% end %>
      <% permitted_to? :index, :streams do %><%=raw menu_item("Streams", streams_path) %><% end %>
      <% permitted_to? :index, :hosts do %><%=raw menu_item("Hosts", hosts_path) %><% end %>
      <% permitted_to? :index, :blacklists do %><%=raw menu_item("Blacklists", blacklists_path) %><% end %>
      <% permitted_to? :index, :settings do %><%=raw menu_item("Settings", settings_path) %><% end %>
      <% permitted_to? :index, :users do %><%=raw menu_item("Users", users_path) %><% end %>
    </ul>

  </div>

  <br style="clear: both;" />

  <% if @has_universalsearch and current_user.admin? %>
    <%= render :partial => partial_for("universalsearch") %>
  <% end %>

  <div id="content-top">
    <div id="content-tabs">
  <% (messages_tabs | stream_tabs | settings_tabs).each do |tab| %>
	  <%= raw tab_link(tab)%>
	<% end %>
      <br style="clear: both;" />
    </div>
  </div>

 <% if @has_sidebar %>
  <div id='main-left'>

  <% if @has_shell %>
    <div id="shell-container">
      <div id="shell">
        <div id="shell-oldinput-container">

        </div>
        <div>
          <span class="shell-prompt"><%= current_user.login %> #</span>
          <input id="shell-command-input" class="shell-command" type="text" spellcheck="false">
        </div>
      </div>
    </div>
    <%= javascript_tag("$('#shell-container').shell();") %>
  <% end %>
 <% end %>

  <div id="content" <%=raw @content_class.blank? ? '' : 'class="content-' + @content_class + '"' %>>
    <div id="content-inner">
      <%= yield %>
    </div>

    <div class="content-bottom">
      <div class="content-bottom-left"><%= image_tag "contentedge_l.png" %></div>
      <div class="content-bottom-right"><%= image_tag "contentedge_r.png" %></div>
      <br style="clear: both;">
    </div>
  </div>

  <% if @has_sidebar %>
    </div>
    <div id="main-right">
      <div id="sidebar">
        <a href="#" id="sidebar-hide-link" title="Close sidebar">x</a>
        <div id="sidebar-inner">
          <%= yield :sidebar %>
        </div>

        <div class="content-bottom content-bottom-sidebar">
          <div class="content-bottom-left"><%= image_tag "contentedge_l.png" %></div>
          <div class="content-bottom-right"><%= image_tag "contentedge_r.png" %></div>
          <br style="clear: both;">
        </div>
      </div>
    </div>
  <% end %>

  <br style="clear: both;" /><br />
  
  <% if Cluster.no_active_nodes? %>
    <div id="server-not-running" class="notification">
      <span class="notification-title">Warning!</span> It seems like you have no active Graylog2 node running.
    </div>
  <% else %>
    <% if Cluster.multiple_masters? %>
      <div id="server-not-running" class="notification">
        <span class="notification-title">Warning!</span> It seems like you have multiple Graylog2 master nodes running.
      </div>
    <% end %>
    
    <% if Cluster.no_masters? %>
      <div id="server-not-running" class="notification">
        <span class="notification-title">Warning!</span> It seems like you have no Graylog2 master nodes running. (all non-master)
      </div>
    <% end %>
  <% end %>
  
  <% unless flash[:notice].blank? %>
    <div id="notification-notice" class="notification notification-flash">
      <span class="notification-title">Success!</span>
      <%=raw flash[:notice] %>
    </div>
  <% end %>

  <% unless flash[:error].blank? %>
    <div id="notification-error" class="notification notification-flash">
      <span class="notification-title">Error!</span>
      <%=raw flash[:error] %>
    </div>
  <% end %>
  
</body>
</html>
