<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <title>Graylog2</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "core" %>
  <%= stylesheet_link_tag "sections" %>
  <%= stylesheet_link_tag "messages" %>
  <%= stylesheet_link_tag "jquery.gritter" %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "jquery.gritter.min" %>
  <%= javascript_include_tag "jquery.autocomplete.min"  %>
  <%= javascript_include_tag "application" %>
</head>
<body>

  <div id="pageload" style="display: none;"><%= Time.now.to_i %></div>
  
  <div id="notification-notice" style="display: none;"><%= flash[:notice] %></div>
  <div id="notification-error" style="display: none;"><%= flash[:error] %></div>

  <div id="top">
    <div id="userbar">
      Logged in as <%= current_user.login %> <%= link_to "&nbsp; (Log out)", "/logout" %>
    </div>
    <%= link_to image_tag("graylog.png", :id => "toplogo"), '/' %>
    <ul id="topmenu">
      <%= menu_item({ :title => "Messages", :controller => "/" }) %>
      <%= menu_item({ :title => "Streams", :controller => "streams" }) %>
      <%= menu_item({ :title => "Hosts", :controller => "hosts" }) %>
      <%= menu_item({ :title => "Blacklists", :controller => "blacklists" }) %>
      <%= menu_item({ :title => "Settings", :controller => "settings" }) %>
      <%= menu_item({ :title => "Users", :controller => "users" }) %>
    </ul>

    <% message_count_interval = Setting.get_message_count_interval(current_user) %>
    <div id="new-message-count"><strong><%= Message.count_of_last_minutes(message_count_interval) %></strong> / <%=h message_count_interval %> minutes</div>
  </div>

  <br style="clear: both;" />
  <div id="new-messages-bar" style="display: none;"></div>

  <div id="content">
    <%= yield %>
  </div>
  <div id="content-bottom">
    <div id="content-bottom-left"><%= image_tag "contentedge_l.png" %></div>
    <div id="content-bottom-right"><%= image_tag "contentedge_r.png" %></div>
    <br style="clear: both;">
  </div>

</body>
</html>
