<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Refresh" CONTENT="5" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= stylesheet_link_tag "messages" %>
  <%= hoptoad_javascript_notifier if Configuration.hoptoad_enabled? %>
</head>
<body>

  <div id="top">
    <% if File.exist?(asset_path "dashboard_logo.png") %>
        <%= image_tag "dashboard_logo.png" %>
    <% end %>
    <div id="top-timestamp">
      <%= Time.now %>
    </div>
  </div>

  <div id="statuscontainer" class="status-<%=h @message_count > @max_messages ? 'problems' : 'okay' %>">
    <div id="status">
      <h1><%= @message_count %> messages / <%= @timespan %> minutes</h1>

      <% unless @stream_title.blank? %>
        <h1>- <%= @stream_title %></h1>
      <% end %>
    </div>

  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
