<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <title>Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "jquery.anythingslider" %>
  <%= javascript_include_tag "dashboard" %>
  <!-- <%= javascript_include_tag "flot/jquery.flot.min" %> -->
</head>
<body>

  <div id="top">
    <% if File.exist?(RAILS_ROOT + "/public/images/dashboard_logo.png") %>
        <%= image_tag('dashboard_logo.png') %>
    <% end %>
    <div id="top-timestamp">
      <%= Time.now %>
    </div>
  </div>

  <div id="statuscontainer" class="status-problems">
    <div id="status">
      <h1>3 known problems</h1>
    </div>
  </div>
  
  <div id="problems" class="anythingSlider">
    <div class="wrapper">
      <ul>
        <li>
          <div class="problem-timestamp"><%= 5.minutes.ago %> (<%= time_ago_in_words(5.minutes.ago, true) %> ago)</div>
          <div class="problem-title">www11 HDD RAID failure</div>
        </li>
        <li>
          <div class="problem-timestamp"><%= 8.minutes.ago %> (<%= time_ago_in_words(8.minutes.ago, true) %> ago)</div>
          <div class="problem-title">MGMT MySQL Replication to China dead</div>
        </li>
      </ul>
    </div>
  </div>

</body>
</html>
