<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <title>Dashboard</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Refresh" CONTENT="5" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "dashboard" %>
  <%= stylesheet_link_tag "messages" %>
  <%= javascript_include_tag "jquery-1.4.2.min" %>
  <%= javascript_include_tag "dashboard" %>
</head>
<body>

  <% message_count_interval = Setting.get_message_count_interval(current_user) %>

  <div id="top">
    <% if File.exist?(RAILS_ROOT + "/public/images/dashboard_logo.png") %>
        <%= image_tag('dashboard_logo.png') %>
    <% end %>
    <div id="top-timestamp">
      <%= Time.now %>
    </div>
  </div>

  <div id="statuscontainer" class="status-<%=h Message.count_of_last_minutes(message_count_interval) > Setting.get_message_max_count(current_user) ? 'problems' : 'okay' %>">
    <div id="status">
      <h1><%= Message.count_of_last_minutes(message_count_interval) %> messages / <%=h message_count_interval %> minutes</h1>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
