<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Login - Graylog2</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "login" %>
  <%= hoptoad_javascript_notifier if ::Configuration.hoptoad_enabled? %>
  <%= javascript_include_tag "login" %>
</head>
<body>

<% if has_users %>
  <div id="loginbox">
    <%= yield %>
  </div>
<% else %>
  <div id="firstuser-box">
    <%= yield %>
  </div>
<% end %>

</body>
</html>
